[2015-01-26 18:47] ctschroeder opened #3 "Make checklists for releasing and updating corpora"

[2015-03-13 01:43] ctschroeder opened #4 "Full Sahidica NT publication todo list"
Update website with information about full NT corpora: link to ANNIS, TEI coming later.
Add PAULA and ANNIS files to public rep.

[2015-03-23 04:08] #4 closed

[2015-06-01 18:10] ctschroeder opened #5 "Mark and 1 Cor metadata updates"
I noticed some continued metadata inconsistencies in Mark when I checked the URN resolver today.  I went in and fixed them; at the same time, I added a redundant=no metadatum to the Mark and 1 Cor copora files.  (Did not for Sahidica -- that seems a complex question for that corpus, since the Mark and 1 Cor chapters in it are redundant with the manually edited ones.  Didn't know how you wanted to

[2015-06-03 01:09] amir-zeldes commented on #5
1Cor and Mark are republished. Added Greek to analytic view as discussed, let me know what you think. I agree we should talk about the redundant issue and the big NT corpus before republishing.

[2015-06-03 01:09] #5 closed

[2015-07-24 20:20] ctschroeder commented on #3
Needed: list/workflow to mark texts that have been edited and are awaiting re-publication when the corpus is next published.  (And so list of corpora that should be published when we do publish a bunch of material.)

Releasing:

1. New and revised ocs should be reviewed by Senior editor. (Check questions from annotators in the document and/or pull request, read through the document, use Google Ref

[2015-07-31 01:07] ctschroeder commented on #3
@ctschroeder ready to add to wiki

[2015-08-10 19:16] ctschroeder commented on #3
published on wiki

[2015-08-10 19:16] #3 closed

[2016-06-02 17:52] ctschroeder opened #6 "Corpora to be published for IACS"
Specific corpora to be published before IACS.  Also review any other issues labeled [corpus editing] (https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+user%3Acopticscriptorium+label%3A%22corpus+editing%22+) and [IACS2016 milestone] (https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+user%3Acopticscriptorium+milestone%3Aiacs2016+)

- [ ] 1 Cor (new: 13-16)

- [ ] Abraham

[2016-07-30 17:45] ctschroeder opened #7 "Papyri corpora visualizations"
Someone at the IACS noticed some document visualizations didn't work.  I tested all three, and two docs aren't linked to the dictionary in ANNIS:

- cpr.2.237
-  cpr.4.16

[2016-07-31 16:15] amir-zeldes commented on #7
Fixed and ingested

[2016-07-31 16:15] #7 closed

[2016-08-21 09:59] reckart opened #8 "License of coptic.treebank.conll10"
What is the license of this file? There is no LICENSE file in the respective folder and the license information on the root of the repo is rather vague.

[2016-09-12 19:29] ctschroeder commented on #8
@reckart sorry for the delay -- for some reason I didn't see this issue when you created it.  Thanks for your interest!  Licensing information is in the Readme file for this repository, and usually more specific information is in the metadata of the files. Thanks for alerting us to the missing license in this dataset.
The treebank annotation data is licensed CC-BY 4.0.
@amir-zeldes can you add the

[2016-09-13 18:38] amir-zeldes commented on #8
Hi @reckart and apologies from me too for the delay. This repo is the CopticScriptorium working directory with just the raw treebank that we are extending. Probably the best place to get the 'official release' from is the UD repo here, which contains the specific licensing information:

https://github.com/UniversalDependencies/UD_Coptic

Files there are in conllu format and split into train/dev/te

[2016-09-13 18:40] #8 closed

[2016-10-17 00:37] ctschroeder opened #9 "Corpora to be published Dec 2016"
Specific corpora to be published December 2016.  Also review any other issues labeled [corpus editing](https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+user%3Acopticscriptorium+label%3A%22corpus+editing%22+) and [IACS2016 milestone](https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+user%3Acopticscriptorium+milestone%3Adec2016+)
Corrections made, waiting for publication

[2016-10-17 00:37] ctschroeder commented on #6
new issue for December

[2016-10-17 00:37] #6 closed

[2016-12-07 19:29] ctschroeder commented on #9
Release notes:

- version # and date for all new/edited corpora and docs is now the same: 2.2.0, 2016-12-08.   Release # for GitHub should match version #.
- Besa corpus edited: aligned layer annotation data in places, fixed CTS URNs, lemmatization corrections
- Mark corpus edited: edits to reported errors; lemmatization, part of speech, normalization edits to align with revised standards
- 1 Cori

[2016-12-07 21:18] ctschroeder commented on #9
Amir:  we are all set to convert and publish
- 1 Cor (new: 13-16; all others revised as well)
- Mark
- Besa
- Discourses 4: NBFB

Steps 1-6 of the [publication checklist](https://wiki.copticscriptorium.org/~copticsc/wiki/doku.php?id=checklist_for_publishing_corpora) have been completed with these exceptions:

1. NBFB cannot be validated because the column names have been changed.  Perhaps you coul

[2017-03-14 05:14] ctschroeder opened #10 "lemmatization"
All corpora need to be checked for lemmatization of ⲩⲛⲟⲩ; should be ⲟⲩⲛⲟⲩ.  See [this ANNIS search](https://corpling.uis.georgetown.edu/annis/scriptorium#_q=bm9ybT0i4rKp4rKb4rKf4rKpIiBfPV8gbGVtbWE9IuKyqeKym-Kyn-KyqSI&_c=YmVzYS5sZXR0ZXJzLHNoZW5vdXRlLmEyMixzaGVub3V0ZS5hYnJhaGFtLm91ci5mYXRoZXIsYXBvcGh0aGVnbWF0YS5wYXRydW0sc2FoaWRpY2EubnQsc2hlbm91dGUuZWFnZXJuZXNzLHNhaGlkaWNhLjFjb3JpbnRoaWFucyxzaGVub3V0

[2017-03-15 16:40] ctschroeder commented on #10
adjust in lemmatizer: inconsistent lemmatization of ⲙⲟⲓϩⲉ/ⲙⲟⲉⲓϩⲉ

[2017-03-15 17:06] amir-zeldes commented on #10
I think this is a normalization issue for moihe. For unou it's different, since after a vowel that is actually the expected (normal and hence norm) spelling.

[2017-03-29 04:05] ctschroeder commented on #9
@eplatte and @amir-zeldes Please use version # 2.3.0 and date 2017-03-30 for document and corpus metadata for the AP. (I assume you won't be releasing anything before Thursday!) I am adding to ISYE.

[2017-04-11 19:29] #9 closed

[2017-10-30 18:12] ctschroeder opened #11 "Fall 2017 publication thread"
Please use this thread to track our Fall 2017 corpora publication process.

Data freeze: November 9, 2017

Corpora to publish + reviewers:

- ap (Carrie & Beth)
- pseudo-theophilus (new, Beth)
- johannes.canons (new, Carrie)-ready!
- victor (martyrdoms) (new, Beth)
- dirt (new, Carrie)

Reviewers, please be sure to:

- review http://wiki.copticscriptorium.org/doku.php?id=checklist_for_publishing_c

[2017-11-07 15:26] ctschroeder commented on #11
@amir-zeldes Apa Johannes document FA 29-30 is done EXCEPT for some additional information (folio #s) needed for the idno metadatum.  You should be able to test the TEI converter on it, though.  Please see my thread here https://github.com/cligu/gitdox/issues/54 about the converter, first.  Thanks!!

[2017-11-08 16:32] ctschroeder commented on #11
@amir-zeldes AP and Apa Johannes are DONE except for two AP we are waiting on answers to queries; those sayings are from outside contributors and are marked "review."

There are a TON of AP.  I edited a few that were already published but needed edits.  I updated versioning and committed.  However, this means that we have some AP in sgml format and some in excel and some in both.  Amir, let me kno

[2017-11-08 17:43] amir-zeldes commented on #11
Oh, no worries, I'm not going to export from Excel or SGML files - it'll all happen directly from GitDox based on document status (published/to_publish). If you could quickly verify that the statuses are correct, I can attempt the first conversion. I'll have a look at Johannes first maybe.

[2017-11-08 18:11] ctschroeder commented on #11
The statuses for the AP and Johannes are correct. I am waiting for responses to those two AP tho.

[2017-11-09 15:11] amir-zeldes commented on #11
Should I convert AP without those two then or wait?

[2017-11-09 16:31] amir-zeldes commented on #11
Ok, I'll hold off on ap. I'm getting on a plane to Pittsburgh but will
check mail again in the evening.

sent from my mobile

On Nov 9, 2017 11:10 AM, "Caroline T. Schroeder" <notifications@github.com>
wrote:

[2017-11-10 00:01] ctschroeder commented on #11
Dirt is ready!! OMG this is a lot of material.  Also @amir-zeldes I saw your email about TEI but could not get to it with everything else. Will get to it in the morning.

[2017-11-10 04:52] amir-zeldes commented on #11
OK, shenoute.dirt is now in ANNIS as well, accessible with your logins. Let me know if everything looks OK (it only had the same issues of pb_xml:id and the TEI column, which I removed)

[2017-11-10 14:17] ctschroeder commented on #11
re dirt:
@cluckmarq if you have a login to ANNIS you can see your Dirt file online.

@amir-zeldes a couple of things:
Document Metadata

- filename  is "dirt" in ANNIS. ?
- license is showing the html code not the link

Text & annotation
- what are we missing in the annotations so that the linguistic analysis view looks wrong? translation spans?
- likewise do we need a paragraph span?

Otherwise I

[2017-11-10 14:29] ctschroeder commented on #11
Re johannes.canons:

Document metadata

- As with Dirt, the document name is off; it reads "johannes".  Something I think is not converting correctly from the document name in Gitdox.
- license & source_info likewise display html code not links

Text and annotation
- @eplatte is that first N in line 1 supposed to look like that with a line under it or something?
- as with dirt:  what are we missin

[2017-11-10 16:55] amir-zeldes commented on #11
OK, I'm on the doc name and license issues. I figured out the naming problem, which is a bug in the TreeTagger module in SNP. It looks fixable, but might have repercussions I don't understand. I opened an issue here:

https://github.com/korpling/treetagger-emf-api/issues/1

Basically, in stripping off the extension of the filename, it just removes everything after the first dot. The quickest fix i

[2017-11-10 16:56] amir-zeldes commented on #11
The hyperlink issue also seems to be an internal SNP thing due to our new workflow. Again, no quick solution, but I can simply 'un-escape' the &gt; etc. manually in the ANNIS files for this release. But in the future, it's a problem we'll need to solve.

Let me know about the document names, and if we're OK with GL71-74 etc., then I can reimport everything with those 2 problems fixed.

[2017-11-10 17:33] ctschroeder commented on #11
Thank you for investigating. I would really rather not change document
names because we have so many corpora with dots in the names, and some
of these docs go free floating like in the TEI archive (which now
someone is using).  Is there any other way around this problem?

[2017-11-10 19:03] amir-zeldes commented on #11
We could wait for the SNP problem to be solved, but that would delay the release... or we could manually change them back in all output documents, which is a bit irritating.

But I'm not sure we should want to: our previous corpora don't do this (so documents in Eagerness are called `GL29` etc.), and the folder (or corpus in ANNIS, repo) uniquely identifies the corpus anyway. Did you want to retro

[2017-11-10 23:14] eplatte commented on #11
Johannes:
I think what's happening with the initial ⲛs in Johannes is a visualization problem. The punctuation and the ⲛ are two separate characters that are combining in the visualization for some reason. I'm happy to try to fix it in GitDox if anyone has any suggestions, but those are the correct characters according to Diliana's transcription.
Also, I know the lines in Johannes look odd, but th

[2017-11-11 17:23] ctschroeder commented on #11
Victor should be done. I am not sure the layer names are correct, but they are understandable.

Also Amir, I know you're busy, but when you get a chance, let us know what to do to change the spans so the normalized and analytical visualizations are more sensible.

[2017-11-12 17:02] amir-zeldes commented on #11
Sure, norm responds to `p` to make paragraph breaks (may never be inside a bound group) and analytical responds to `translation`. The simplest solution for analytic without adding a variant stylesheet is to add translation="..." in the relevant spans. Otherwise, we can have a variant stylesheet that responds to another annotations (technically no problem, just potentially causes confusion if we ev

[2017-11-13 04:25] ctschroeder commented on #11
Hi. I have added translation spans so the analytic views should look ok now.
For Victor, Dirt, Johannes: can we have a chapter view visualization that is basically the normalized view, but instead of the text being broken up by p span it is broken up by chapter, and the verses are also included. So something like:
(ch 1) (1) here is some coptic. (2) here is some more coptic. (3) we sure love copti

[2017-11-13 04:29] ctschroeder commented on #11
Sorry:  Victor, Dirt, Johannes, Ps-Theophilus.  Since you haven't published a test run of Ps-theophilus, maybe you could try the visualization with that one first?
My goal is to have versification for everything so we would gradually be moving over all the texts to that view.
Also can you keep the manuscript # in the visualization in square brackets.

[2017-11-15 02:01] amir-zeldes commented on #11
OK, theo, dirt, johannes and victor are now online and ready for inspection in ANNIS. TEI also converts no problem except for a modeling issue Carrie and I are discussing, but basically they all validate, suggesting there are no issues with the underlying annotations at this point.

AP is sadly riddled with little things, so I'll plug away at that next; the other ones would be ready for a complete

[2017-11-15 03:55] ctschroeder commented on #11
Can I help with AP?

Sent from my iPhone

[2017-11-15 18:30] amir-zeldes commented on #11
Thanks, no, I need to fix errors and re-run SNP each time, so you can't (if I find something systematic I'll let you know).

What I need from you and @eplatte is just a green light for the other corpora that are in ANNIS right now. If they check out, we just need AP to release!

[2017-11-15 18:33] eplatte commented on #11
I'm at Reed today, but I will check during my lunch break.
Beth

On Nov 15, 2017 10:30 AM, "Amir Zeldes" <notifications@github.com> wrote:

[2017-11-15 18:50] amir-zeldes commented on #11
Thanks! No need to overdo it though, it can all wait!

[2018-01-09 20:09] ctschroeder opened #12 "Add versification to remaining corpora needing it"
This is to streamline normalized visualizations and enable citation

[2018-01-09 20:25] ctschroeder opened #13 "Bohairic corpora desiderata"
In order to begin NLP tools for a Bohairic corpus, we would need:

- minimum 5000 tokens of publicly releasable (CC-BY) Bohairic text in unicode
- manually tokenized according to our standards (possible to try existing Sahidic tokenizer, but there would be a lot of errors)
- manually pos-tagged in Gitdox
- lemma list or lexical resource of some kind? (check with Hany Takla and Eitan Grossman)

[2018-01-09 20:33] ctschroeder opened #14 "Universal Dependency Treebank"
Add Elizabeth Davidson's name (and/or any other annotators) to the ANNIS metadata for this corpus.

[2018-01-09 20:51] ctschroeder commented on #11
PUBLISHED! yay

[2018-01-09 20:51] #11 closed

[2018-01-10 16:56] amir-zeldes commented on #14
Done

[2018-01-10 16:56] #14 closed

[2018-01-23 18:13] ctschroeder opened #15 "Publication thread for Spring 2018"
Corpora scheduled for publication:

- [x] ap (assigned to various, review by @ctschroeder or @eplatte)

- [x] pseudo theophilus (assigned to @ctschroeder, review by @eplatte?)

- [x] johannes.canons (assigned to @eplatte, review by @ctschroeder)

- [ ] ~~Mark if possible (1-5 treebanked, review by @eplatte, alert AZ before making any changes to text and annotations)~~

move to Summer/Fall 2018
- d

[2018-01-24 18:02] ctschroeder opened #16 "wonky data.copticscriptorium.org visualizations"
I noticed some wonky stuff when I was trying to show material to someone who stopped by my office with an interest in Coptic John.  The chapter view viz in ANNIS is linked to the dictionary.  The chapter view viz in our site repository for reading was not linked.
https://corpling.uis.georgetown.edu/annis/?id=684bbcd6-5b3d-4718-8b45-ba5f4a2e22f9
vs
http://data.copticscriptorium.org/texts/new-testam

[2018-01-25 20:07] amir-zeldes commented on #16
OK, I see the problem - the URN should be urn:cts:copticLit:nt.john.sahidica, with no numbers, right?

[2018-01-26 18:36] amir-zeldes commented on #16
@ctschroeder corpus is now ready to do this, if you say go to `urn:cts:copticLit:nt.john.sahidica`. Then we'd just need to re-ingest.

[2018-01-27 22:08] ctschroeder commented on #16
Yes 1john to john. Thanks!

Sent from my iPhone

[2018-01-27 23:51] amir-zeldes commented on #16
OK, reimport complete – if this looks good, feel free to re-ingest for data.*

From: Caroline T. Schroeder [mailto:notifications@github.com]
Sent: Saturday, January 27, 2018 5:08 PM
To: CopticScriptorium/corpora
Cc: Amir Zeldes; Assign
Subject: Re: [CopticScriptorium/corpora] wonky data.copticscriptorium.org visualizations (#16)

Yes 1john to john. Thanks!

Sent from my iPhone

—
You are receiving

[2018-02-06 20:13] ctschroeder opened #17 "corpus metadata in CS Gitdox"
needed for Spring 2018 publication

[2018-02-06 20:14] ctschroeder commented on #17
https://github.com/cligu/gitdox/issues/56

[2018-02-06 20:30] ctschroeder opened #18 "language/languages in medatada"
Field name should be language.
check
a22.YB307-20
a22.YA421-428
Mark_01
to_aphthonia
XL93-94 (abraham)
XJ33-34 (eagerness)
cpr.2.237 papyri

[2018-02-13 19:08] ctschroeder commented on #15
Reminder that deadline is March 19.
Version # will be 2.5.0
Version date TBA -- 23 April? 16 April?  (FYI I will be traveling, in NYC April 16-21.)

[2018-02-13 19:17] ctschroeder commented on #17
Is there a way to import corpus data or should we manually add? I'm looking at pseudo-theophilus, and I don't see corpus metadata, yet. Wanted to check before manually adding. Thanks!!!

[2018-02-13 19:19] ctschroeder commented on #15
@eplatte pseudo-theophilus is ready for review.  Corpus metadata and version date need to be added, but everything else is ready.  There is one bright pink highlighted line in one of the docs, but otherwise it was straightforward.  The first two docs were published before; the second two are new.  Thanks!

[2018-02-14 19:25] amir-zeldes commented on #15
Is March 19 the data freeze date?

[2018-02-14 19:26] amir-zeldes commented on #17
No, there isn't a batch import option at the moment... It would probably take as long to key these for existing corpora as it would to write an import script, so maybe it's best to just enter them as we re-publish each corpus (they need to be checked then anyway, and fields are not many for the corpus level)

[2018-02-14 20:31] ctschroeder commented on #17
Gotcha. Thanks.

[2018-02-14 20:32] ctschroeder commented on #15
Yes.

[2018-02-15 16:50] amir-zeldes commented on #15
Sounds good

[2018-02-15 17:10] eplatte commented on #15
I was under the impression that March 19 was the submission deadline and April 1 would be the data freeze (i.e. all editing would be done by then). It doesn't really matter to me either way, although I have a conference from March 14 to March 18, so I'll need anything to review before then. If we want March 19 to be the data freeze, when do we want submissions? I'll need to email Christie and Mari

[2018-02-15 17:20] ctschroeder commented on #15
My mistake.  @amir-zeldes, @eplatte is right:  March 19 submission, April 1 data freeze. My apologies!!
What date should we put on the version.  April 1? 5? 8? We usually make small edits after the data freeze, because something comes up.

[2018-02-15 17:26] amir-zeldes commented on #15
That's all fine. The release date can be the freeze date if you like - it won't really matter because there won't be a different publication version available online until after the initial release with that date. As long as we move forward in time with the dates all should be well!

[2018-02-15 17:32] eplatte commented on #15
April 1 for the release date sounds good to me!

[2018-03-18 00:34] ctschroeder commented on #15
for @amir-zeldes re AP validation: the "publish" or "to publish" or "review" AP that are not validating right now are ones that have validation errors we don't/I can't currently solve.

1. These have extra tokens for visualization purposes (for the previous or next column, for example):
    - AP.041.syncletica.09
    - AP.119.Sisoes.16
    -
2. These have blank lemmas (validation error is "Span br

[2018-03-19 06:22] eplatte commented on #15
@ctschroeder Apa Johannes FA29-30 ready for review. See email for what happened to the other documents; hopefully I can get them done for Tuesday.

[2018-03-19 13:39] amir-zeldes commented on #15
@ctschroeder Issue 1 is known and you don't need to do anything about it at the moment. For lacunae, I'd like to suggest we lemmatized them using the string UNKNOWN, to match the corresponding POS tag. Does that make sense? Then anything that has a POS tag also has a lemma, which is nice for consistency and may prevent all sorts of problems.

[2018-03-19 13:39] amir-zeldes commented on #15
Alternatively we can also lemmatize them with their norm string (lemma=norm), I'm open to either.

[2018-03-19 15:43] amir-zeldes commented on #15
got it, thanks

[2018-03-23 00:07] ctschroeder commented on #15
@amir-zeldes Mark 1-5 and 7 are marked for review in Gitdox. Is Mark 6 treebanked and ready, as well?

[2018-03-23 00:08] ctschroeder commented on #15
Also: anyone know why all those docs in ISYE corpus are marked "review"? @amir-zeldes @eplatte  @bkrawiec
We are not planning to republish, are we?

[2018-03-23 00:27] eplatte commented on #15
Those are documents with updated meta, but not for this publication. There may be other corpora like this, though most meta updates were in ISYE and AP I think. I still have some more to do as well.

[2018-03-23 15:39] amir-zeldes commented on #15
No C.6 isn't treebanked so far.

[2018-03-24 23:03] ctschroeder commented on #15
@eplatte Re the empty cells not validating: I think this is an artifact of a merged cell or unmerged cell.  I've seen it before, and I merge the non-validating cells with one below or above, unmerge, and it's fine.

[2018-03-25 01:07] ctschroeder commented on #15
I edited the apa johannes FA 33-34 file in sgml and reimported it into the spreadsheet. Something broke.  the line breaks didn't import.  I even tried reimporting the version-controlled sgml that's stored in gitdox (without my edits), and that file import didn't preserve the line breaks either.  @amir-zeldes I don't know if this is an issue with gitdox or with the layer name.

[2018-03-25 18:43] amir-zeldes commented on #15
Can you point me to the exact file in github that is not re-importable? Or send me the culprit via e-mail?

[2018-04-07 05:13] ctschroeder commented on #15
@amir-zeldes & @eplatte I think the AP are ready. Still working on the other corpora.

[2018-04-07 15:42] amir-zeldes commented on #15
Fantastic, thanks!

[2018-04-08 05:24] ctschroeder commented on #15
@amir-zeldes @eplatte pseudo-theophilus should be ready

[2018-04-10 03:11] ctschroeder commented on #17
How is this going? Thx.

[2018-04-10 16:47] amir-zeldes commented on #15
I just validated TEI, it's almost good to go:

- [ ] Double quotes in metadata value should be removed for Coptic_edition
- [ ] version_n and version_date are missing (latter is critical for TEI validation, since we always include revisionDesc)
- [ ] corpus metadata is missing (not a TEI issue, but should be added)

[2018-04-10 17:26] ctschroeder commented on #15
Great. You are talking about pseudo-theophilus? I believe version@date and version@n are in each document.
I thought @eplatte was working on the corpus metadata so didn't even look at that. Thanks for the catch.  One of us will get this.
The double quotes were in the metadata the last time around so I didn't know it was a problem.   Would it be possible for you to add a validation check to our val

[2018-04-10 17:32] eplatte commented on #15
I just checked ps-theophilus and version@date and version@n are there. Also, with the double quotes, will validation be a problem for linked metadata, since those have xml?
I'll add the corpus metadata now!

[2018-04-11 04:09] ctschroeder commented on #15
I have made the edits to the document metadata. @eplatte I think all that's left is the corpus metadata. I still don't see it in there.

[2018-04-11 04:10] ctschroeder commented on #15
(I wonder if there is something wonky with corpus metadata?)

[2018-04-11 04:50] eplatte commented on #15
OK I just re-added the corpus metadata for ps-theo and re-checked that it's showing up in a separate document, so I think we should be good to go.

[2018-04-11 14:35] amir-zeldes commented on #15
OK, sorry about the metadata, that was a very stupid bug (doc_id is NULL for corpus meta, doc_id must be unique or null, and corpus meta ID was being entered as String 'NULL' rather than actual NULL, so it overwrote the last corpus)

Should be fixed now. I added meta for AP based on the previous corpus, but then it occurred to me that maybe the list of annotation/translation changes? Could you che

[2018-04-20 19:04] ctschroeder commented on #15
made the changes to pseudo-theophilus. That corpus is ready for redoing.

[2018-04-23 01:12] ctschroeder commented on #15
@amir-zeldes @eplatte not sure if you saw my comment on Friday. Ps-th is ready.  I'm trying to look over Apa Johannes tonight

[2018-04-23 01:26] ctschroeder commented on #15
Also I don't know why it's telling me "Metadata for facsimile_graphic_url does not match pattern"

[2018-04-23 05:52] eplatte commented on #15
I'm not sure about that, either. I didn't change the meta, and I'm pretty sure it was all validating before.
I've just checked the TEI for all of Apa Johannes and re-checked ps-Theophilus just in case, and it's all valid!

[2018-04-23 15:18] amir-zeldes commented on #15
It had double quotes in the href, instead of single quotes. I just changed it, it should all validate now.

[2018-04-24 00:14] ctschroeder commented on #18
are we done with this work? thx

[2018-04-24 00:14] ctschroeder commented on #15
Thanks for the clarification. We can't see that in GitDox, since it turns into a live link.

[2018-04-24 17:48] amir-zeldes commented on #15
OK, pseudo.theophilus, AP and johannes are up for review in ANNIS. Talk in a bit...

[2018-04-24 21:57] eplatte commented on #15
I've taken a look at all visualizations and all metadata for all new documents, plus corpus metadata, and it all looks good to me.

[2018-06-12 17:17] ctschroeder opened #19 "Publication thread for Fall 2018"
- [x] New CoptOT
   - [x] needs permission from Frank
   - [x] will need to archive old crosswire URNs (point to Github or point to page that has links to new CoptOT corpus AND Github for old data, so user can choose)
   - [x] see thread here: https://github.com/CopticScriptorium/corpora/issues/21
~~- Shenoute canons 6 @somiyagawa)~~ MOVED to #22
   ~~- needs permission from Heike Behlmer~~
   ~~-

[2018-06-12 17:27] #15 closed

[2018-06-12 17:27] ctschroeder commented on #17
How is this going @eplatte ?

[2018-06-12 17:28] ctschroeder commented on #18
How is this going @eplatte ?

[2018-06-12 17:37] amir-zeldes commented on #19
RE Besa's letters - there are way more than two - all of MONB.BA and BB, so almost all of the existing letters. We've only processed two so far though, and I'm not sure if we'll run into problems with later ones.

[2018-06-12 17:46] eplatte commented on #18
All done! Closing now.

[2018-06-12 17:46] #18 closed

[2018-06-12 17:48] eplatte commented on #17
Corpus metadata added to GitDox in Feb.

[2018-06-12 17:48] #17 closed

[2018-06-26 18:25] amir-zeldes opened #20 "Review metadata for new Canons 6 corpora"
Need urns and metadata review in general for new corpora:

- [ ] sheonute.throne
- [ ] shenoute.obliged
- [ ] ~~sahidic.ot (CoptOT base text version)~~ see #21

Note that CoptOT translation has been switched to Brenton.

[2018-07-02 22:32] ctschroeder commented on #20
It is so great to see all this new Coptic! I have looked only at **shenoute.throne** so far.  For @somiyagawa and @amir-zeldes: I have two big questions and then need information for some metadata fields.  Probably you will want to answer the questions first, since metadata depends on the answers:

1. Why are the documents divided this way? pp. 1-9, 10-19, 20-28?  This means the recto of one ms fo

[2018-07-02 22:33] ctschroeder commented on #20
Again really looking forward to seeing this all published, and very grateful to @somiyagawa, Julien, and the other folks in Goettingen!!!

[2018-07-03 14:17] amir-zeldes commented on #20
The document splits are my fault - as you know, they need to be smaller than the entire contiguous section, since that will cause bad latency in ANNIS otherwise. I just split them into NBFB-sized chunks (that's always seemed to work, I think we did the same for Eagerness), and it happened to cut across R/V.

So just to verify before I change them: would it be OK to do:

  * 1-10
  * 11-20
  * 21-2

[2018-07-03 14:41] ctschroeder commented on #20
Thanks for looking at this Amir! There are a few things going on, so please don’t break the docs up quite yet.

As I mentioned upthread, we also need to break them based on contiguity in the modern repository.  Someone needs to check and see where these mss live, document their call numbers, etc., and then break the documents based on how the mss are fragmented.

If this is all one continuous frag

[2018-07-03 15:06] amir-zeldes commented on #20
OK, sure, just let me know what splits you want and I can implement those, with the caveat that I may need to makes some added splits due to processing concerns (but I'll never need to merge two things that don't belong together).

[2018-07-03 15:08] ctschroeder commented on #20
Ok. We need to hear from So.

Sent from my iPad.

[2018-07-05 18:33] ctschroeder opened #21 "Coptic OT for fall 2018 publication"
This is the publication thread for the new Coptic OT "base text" donated by the Coptic OT project in Goettingen.  @ctschroeder & @amir-zeldes are coordinating on the following items:

- [x] aligning LXX english translation with Coptic text
- [x] verse cts urns following pattern of urn:cts:copticLit:ot.gen.coptot:1.1
- [x] document cts urn following pattern of urn:cts:copticLit:ot.gen.coptot:1 (no

[2018-07-05 18:38] ctschroeder commented on #20
Hey folks, I'm separating out the OT into a separate thread. #21

[2018-07-18 05:45] ctschroeder commented on #21
csv file mapping LXX translation to CoptOT is in the bible-dev repo. Pls see commit note.  Thanks!

[2018-07-19 17:35] ctschroeder commented on #20
I have looked at shenoute.obliged.  The same metadata and document division questions from shenoute.throne apply to shenoute.obliged.

[2018-07-19 17:39] ctschroeder commented on #20
Also if there are any manuscript parallels in shenoute.obliged, those need to be accounted for in the document structure.

[2018-09-13 15:15] ctschroeder opened #22 "Publication Thread for Spring 2019"
March 7, 2019 due date.  Corpora will be listed after Fall 2018 publications #19
- [x] add macron/underdot order validation to GitDox rules and revalidate the following corpora
- [x] AP (@cluckmarq and Marina Ghaly)
  - [x] editorial review by @ctschroeder
  - [x] @ctschroeder check lemmatization alignment in AP 40 see here
  - [x] update corpus metadata
https://corpling.uis.georgetown.edu/annis/?

[2018-09-14 17:58] ctschroeder opened #23 "Check the segmentation/parsing/tagging metadata before publication"
The following corpora autodefaulted to seg & tag CHECKED parsing AUTOMATIC and need GOLD to be
- shenoute.abraham (XL is gold parsed)
- sahidica.1Cor (1-6)
- apophthegmata (mixed -- check treebanking corpus)
- mark (1-6)
- a22 (first YA)

[2018-09-30 20:03] ctschroeder commented on #21
New files for mapping translations are in the [bible-dev repo](https://github.com/CopticScriptorium/bible-dev/tree/master/OT) @amir-zeldes.  Mapping based on the CoptOT September 2018 text data.
1) csv file mapping most of the KNOWN verses where the LXX translation versification does not align with the CoptOT data versification.  Mapping does not map all books/chapters/verses; it only maps known p

[2018-10-05 22:40] ctschroeder commented on #21
See mapping file + notes in the OT folder.  Decision was to null out English translation where it was difficult to match up the Coptic data with the Brenton translation.  We may hire a student to work on that this fall.

[2018-10-18 23:08] ctschroeder commented on #21
From email (so I don't lose this thread): items still under discussion

Data
- [ ] corpus name (coptot.ot? sahidic.ot?)
- [ ] "verse" layer is a number, verse@vname forlayer with bookname ch:v
- [ ] verse level urns (document urn + . verse number)?

Metadata corpus AND document levels
- [ ] project: add KELLIA
- [ ] license: add 4.0
- [ ] translation field: add year of publication
- [ ] translatio

[2018-10-18 23:20] ctschroeder commented on #19
I'm looking at items in Gitdox for publication.  Looks like in addition to treebanked material in Mark, 1 Cor, Victor, A22, and AOF we also have Eagerness docs.  Is that correct, @amir-zeldes ?  Are these newly treebanked Eagerness docs?

We also have a doc from Not Because a Fox barks.  Are we republishing this corpus?

Last, there look to be some validation issues.  I will go through them and le

[2018-10-21 14:03] amir-zeldes commented on #21
Should be good to go, test version behind login on ANNIS

[2018-10-21 14:06] amir-zeldes commented on #19
Eagerness has no treebanked documents, so any edits are presumably sporadically noticed errors (probably no more than a handful). If there are no new documents, maybe we should wait with Eagerness until there is new material - I think there were still new documents coming in the future, right?

Similarly NBFB may have some tiny correction, but otherwise nothing new really. I may wait with it until

[2018-10-21 19:36] bkrawiec commented on #19
I do not think there are more documents for Eagerness. I have been done with it for awhile and have moved on to Those.

Becky

Sent from my iPhone

On Oct 21, 2018, at 10:06 AM, Amir Zeldes <notifications@github.com<mailto:notifications@github.com>> wrote:

Eagerness has no treebanked documents, so any edits are presumably sporadically noticed errors (probably no more than a handful). If there are

[2018-10-23 16:29] ctschroeder commented on #19
Hi. I was making a list of things to go over as I was reviewing the corpora for publication, and "p" was on the list.  It relates to our decision in DC to minimize the number of visualizations & viz names, as well.  I think we can change the validation to p | vid_n.  I am adding vid_n (the cts urns at the verse level) to all corpora as they are re-published.  The visualizations break the text at p

[2018-10-23 16:56] ctschroeder commented on #19
I'm making a list of things that are coming up, that I'll post when I'm done.  But two big ones:

- for 1 Cor and Mark, only parts of the corpora are treebanked?  1 Cor 1-6 and Mark 1-7.  Correct?  Those are the only ones marked as "to_review".  So we will have partially treebanked corpora?

- for corpora being republished due to treebanking (in the list above): are treebanking, tagging, and segme

[2018-10-23 18:05] amir-zeldes commented on #19
Mark is only 1-6 treebanked at the moment, same as 1Cor. Meta should show everything as gold for the treebanked chapters, and pos/seg 'checked' for the rest, parsing 'auto'. The tag/seg/parse metadata is document-wise, so mixed corpora should not be a problem.

[2018-10-23 18:12] amir-zeldes commented on #19
RE p-annotations: I went ahead and made the p-check corpus dependent. There is no current way to make one validation check for either/or, so we'd need a separate rule to require vid_n in corpora where that's relevant (all corpora?)

[2018-10-23 18:21] ctschroeder commented on #19
Can you go in and edit the parsing /tagging/segmenting metadata? There are a number of docs “review” or “to publish” and there is no way for me to tell currently which ones in each corpus are treebanked (since the parsing data is elsewhere).  I realize a mixed corpus re treebaninking is fine technically, but from an annotating/curating point of view, having me make those edits to the metadata is a

[2018-10-23 18:22] ctschroeder commented on #19
I will for sure check the rest of the metadata and add corpus metadata to the corpora (like 1Cor) without.

[2018-10-23 18:28] amir-zeldes commented on #19
I can do the automation meta for Sahidica. It's pretty well documented though, the list of treebanked documents is in the table here:

http://copticscriptorium.org/treebank.html

[2018-10-23 19:35] ctschroeder commented on #19
Generally the process is most effective and accurate when each annotator adds/edits metadata when they annotate.  Otherwise there is a lot of back and forth from the person doing review, or something gets missed.  There's not an effective way for the person conducting the final editorial review to keep in their heads which metadata might change and which might not for each publication thread.  The

[2018-10-23 19:44] amir-zeldes commented on #19
ⲞⲔ, 1Cor and Mark should be good to go from the NLP metadata perspective. I also corrected any validation errors that are automatically caught, so they're all green, but I'm not sure if there's something we wanted but haven't added a validation for yet.

[2018-10-23 19:48] amir-zeldes commented on #19
? I'm not sure I understand the preceding comment - I have no metadata changes to make that I'm aware of. I'm happy to keep NLP metadata up to date as we treebank in the future, but these are fields that didn't exist when the treebanking happened. Sahidica is now up to date.

[2018-10-23 19:50] ctschroeder commented on #19
If I have any questions about the other mixed corpora besides the Sahidica ones, I'll let you know.

[2018-10-23 19:50] ctschroeder commented on #19
Thanks for editing the Sahidica ones!

[2018-10-26 17:59] ctschroeder commented on #19
@amir-zeldes can you tell me who has been treebanking (and then correcting tagging/segmentation) for the AOF, Victor, A22, Mark, 1 Cor texts?  I will add their names to the corpus and document metadata.  Thanks!

[2018-10-29 21:06] ctschroeder commented on #19
Thank you! 1Cor is ready (I also added corpus metadata to GitDox) except for these questions:
- [ ] 7 is also marked for review. Do you want to republish or wait?  The commit log in github shows one commit, but I do not see any changes when the file is diff’d.  It's possible there are saved-but-uncommitted changes in GitDox?
- [ ] 9 was listed as “to_publish” but like 7, the reason is unclear;it h

[2018-10-30 16:54] ctschroeder commented on #19
Sorry -- the first two questions in the previous comment were about Mark!  I've edited.

[2018-10-30 16:55] ctschroeder commented on #21
This looks really good.  There are some odd “book names” that I didn’t notice before, like “epistle of Jeremiah” which isn’t an epistle —it’s the prophetic book Jeremiah, right?— but I assume that comes from the Copt OT data?

[2018-10-30 17:19] ctschroeder commented on #19
Part 1 of Martyrdom of Victor is now ready; as with 1 Cor there were a few unmerged spans in the _group layers, which I merged. Letting you know in case it affects the treebanking data.

[2018-10-30 19:00] amir-zeldes commented on #21
Thanks - there are a couple of new books, all based on the CoptOT book designations. I think the Epistle of Jeremiah is a separate work not included in all canons, see https://en.wikipedia.org/wiki/Letter_of_Jeremiah

[2018-10-30 19:01] amir-zeldes commented on #19
I'm guessing the status of Mark 7+9 indicates a sporadic edit when an error was noticed. They will all be republished, since the ANNIS data is corpus-wise, meaning it makes sense to publish the entire corpus in its current state. Thanks for pointing it out!

[2018-10-30 19:12] ctschroeder commented on #19
Ok great. I will try to look at Mark 7 & 9. Please hold off on publishing until I post again. Thanks!
Sent from my iPhone

[2018-10-30 19:18] ctschroeder commented on #21
Ah ok. Obv I did not look closely. Let me check the abbreviations in the urns.

[2018-10-30 20:19] ctschroeder commented on #21
@amir-zeldes do you have a table you use to produce the urns?  Looks like some of them may need adjusting.  Letter of Jeremiah docs have the same abbreviation and urns as Jeremiah.  (Abbreviation for the former is usually Ep Jer according to SBL.)  I'm not seeing anything else needing changing at a glance, but if you have a table I can look at, it would probably be more effective than trying to sp

[2018-10-30 21:12] amir-zeldes commented on #21
Actually that was just a bug of Jeremiah overwriting the similar urn key from Epistle- I'll fix that. Here's the mapping, I think it was supposed to SBL where I got it from:

[code]

[2018-10-30 21:19] ctschroeder commented on #19
Ok.  Some of the Bible corpora docs have &apos; instead of apostrophes.  Is there some way to do a global search and replace in the spreadsheet?  Thanks

[2018-10-30 21:33] amir-zeldes commented on #19
Apostrophes where? What field are we talking about?

[2018-10-30 21:36] ctschroeder commented on #19
Sorry I didn't specify.  Translation layer.

[2018-10-30 22:59] ctschroeder commented on #21
Ok thanks!  Looks good!

[2018-10-31 17:08] ctschroeder commented on #19
@amir-zeldes Mark 7 & 9 are proving to be rather time consuming, since the data in there is quite old (i.e., the tagging dates to before we had portmanteau tags!).  Is there any way we can release the corpus using the old versions of Mark chapters 7-end?  The catch is there are corrections in Gitdox and committed to GitHub for Mark 7 & 9.  (I'm reluctant to release it w/a new version number and as

[2018-10-31 22:48] ctschroeder commented on #19
So, reviewing some of this old data that's been treebanked is proving tricky.  @amir-zeldes can you please remind me which layers _cannot_ be modified in the treebanked docs?  I know POS, norm, lemma, morph.  What about the rest -- do any others matter?  Including line breaks, tokenization changes to add things like hi@rend elements (that do not affect norm/pos/lemma but do change base tokenizatio

[2018-10-31 23:09] amir-zeldes commented on #19
Sorry just seeing these:

1. Apostrophes: are you concerned that different characters are used to represent apostrophes in the translations? Or do you mean vs. escaped `&apos;`? I'm not sure this is standard across our corpora, probably not, but I haven't been too worried about unifying that (I imagine it would be a lot of work figuring out everything that's not consistent about them, so maybe it'

[2018-10-31 23:09] ctschroeder commented on #19
Oh I just noticed that Markdown changed `&apos;` to an apostrophe in the comment above.  Whoops.

[2018-10-31 23:18] ctschroeder commented on #19
Ok we are posting at the same time. Thanks!!! A couple clarifications:
1. Let me rephrase. In a lot of the translations I'm seeing, in the layer I see `&apos;` instead of '.  a) Does this matter for search or TEI/SGML/XML export, etc?   (So are these appearing as `&apos;` anywhere in the published data instead of as '?)  b) if YES then is it possible do a global search and replace?
2. The problem

[2018-11-16 00:50] #21 closed

[2018-11-16 00:51] ctschroeder commented on #19
Victor and 1Cor are ready

[2018-11-16 01:40] ctschroeder commented on #19
@amir-zeldes A22 is now ready; pls double check segmentation/tagging/parsing metadata. Thanks!  Abraham and Mark may need to wait until next week or after TG

[2018-11-16 21:45] amir-zeldes commented on #19
Sounds good - this is great progress!

[2018-11-18 23:03] ctschroeder commented on #19
A22 ready.

[2018-11-18 23:12] ctschroeder commented on #19
(But do please check the segmentation/tagging/parsing metadata to make sure it is all correct.  Thanks @amir-zeldes !)

[2018-11-19 15:31] amir-zeldes commented on #19
OK, I fixed a couple of things, now A22 converts correctly and machine processing metadata is correct. This just leaves Mark, AOF, and maybe Besa depending on whether or not we want to re-release to include Vigilance in this round.

[2018-11-26 18:37] ctschroeder commented on #19
I am almost done with AOF. More soon.

[2018-11-26 18:42] bkrawiec commented on #19
Is there something I am supposed to bedding on AOF?

On Nov 26, 2018, at 1:37 PM, Caroline T. Schroeder <notifications@github.com<mailto:notifications@github.com>> wrote:

I am almost done with AOF. More soon.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/CopticScriptorium/corpora/issues/19#issuecomment-441748806>, or mute

[2018-11-26 19:10] ctschroeder commented on #19
Nothing to worry about!  A couple sections were tree-banked, so I am adding verses and chapters.  It's not a big deal.  Just updating those two files to current standards since we are republishing.

Sent from iCloud

[2018-12-03 18:05] ctschroeder commented on #12
@amir-zeldes @bkrawiec Abraham Our Father XL 93-94 has different translations and translation spans than its parallel YA 535-40. Do either of you have a strong preference, or can I make use YA 535-40 as the basis?  Thanks.

[2018-12-05 07:56] ctschroeder commented on #12
Hi, @amir-zeldes and @bkrawiec.  Does my question make sense? These two docs are parallel witnesses. Becky wrote the translation in YA; Amir in XL. The spans are different. I'm pretty sure neither of the docs has been treebanked.  Do either of you care about the translation spans? If so just let me know.  Otherwise tomorrow/Wed, I will be making them equivalent. Thanks so much!

[2018-12-05 13:15] bkrawiec commented on #12
Whatever you decide is fine with me

Becky
On Dec 5, 2018, at 2:56 AM, Caroline T. Schroeder <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi, @amir-zeldes<https://github.com/amir-zeldes> and @bkrawiec<https://github.com/bkrawiec>. Does my question make sense? These two docs are parallel witnesses. Becky wrote the translation in YA; Amir in XL. The spans are different. I'm pr

[2018-12-05 14:46] amir-zeldes commented on #12
Hi @ctschroeder - actually XL is treebanked, but I'm not 100% sure that the translation spans correspond to the trees. There is a better chance that they do of course, but I might not have consolidated 100%, which is also not a requirement, structurally.

If it's all the same to you, maybe use XL as a basis, since if I do modify anything in the future for treebanking, it would probably be YA, but

[2018-12-05 23:55] ctschroeder commented on #19
AOF is done

[2018-12-06 00:04] ctschroeder commented on #19
Here are the urns that need addressing.  We either should put something in the 404 or somehow redirect.  Probably easier to list them on the 404 for now. I think any redirect is complex with this application.
[urn-table.xlsx](https://github.com/CopticScriptorium/corpora/files/2651110/urn-table.xlsx)

[2018-12-06 00:13] ctschroeder commented on #12
abraham and A22 have been completed

[2018-12-06 00:15] ctschroeder commented on #19
Also @amir-zeldes  can you check the parsing/segmentation/tagging metadata for the files that were treebanked? Not sure I got them right.
+ The grids and metadata validate. TEI export does not always validate on the "to_publish" files.  The validation report references line #s that I can't see

[2018-12-06 04:57] ctschroeder commented on #19
Mark is as ready as it will be.

[2018-12-06 04:57] ctschroeder commented on #19
Mark is as ready as it will be.  @amir-zeldes I think we're good to go.

[2018-12-06 20:19] amir-zeldes commented on #19
OK, I went over the AOF exports, they all check out now. The way to see those line numbers is to do a TEI export from the editor, download the file, and find that line number in the file. Usually I look for some word or translation nearby and actually check out the grid instead of trying to figure out the XML, since the error is usually apparent in the grid too.

XL still needs versification, it s

[2018-12-06 20:40] ctschroeder commented on #19
Hi,

I didn't add verses to the part of XL that is not AOF. XL is a florilegium codex.  I'm not sure what work that piece of XL is from.  I'd have to look it up.  The AOF section has verses and verse ids.  I did go through just now to make sure the spans coincide with each other.  If empty spans are a problem then you can just put in some placeholder like "undetermined".

I have not had time to to

[2018-12-07 20:40] ctschroeder commented on #19
I can break up XL, but it's one doc in the treebanking corpus so I didn't want to mess with it.
Re Gitdox: I hear what you're saying.  The thing is, I think more status categories might get confusing. And often there are a lot of details, which are better documented in the Github issues.  Sometimes even if a minor correction is made, the full document does get updated before publication, because t

[2018-12-07 20:43] amir-zeldes commented on #19
Yeah, I understand, I'm not disagreeing about changing statuses right now, but I think we should have a conversation about this again sometime - possibly in parallel with or just before training the new DH specialist.

I just fixed XL, so it's 'undetermined' for URNs and 'x' for the verse number, that should work for conversion and validation for now.

[2018-12-07 21:13] ctschroeder commented on #19
Ok that all sounds good, thanks!!

[2018-12-11 16:52] amir-zeldes commented on #19
OK, everything is up on ANNIS now, excluding new Besa for the moment. Please take a look and if all looks well I can set up the ingest and push to GitHub as well.

[2018-12-12 04:01] ctschroeder commented on #19
Thanks so much, @amir-zeldes. I will look over this tonight and tomorrow.  In the meantime, what do you think about the issue of the urns?  (https://github.com/CopticScriptorium/corpora/issues/19#issuecomment-444698610)

[2018-12-12 21:08] amir-zeldes commented on #19
I had a look at the Excel table - these all seem to be pure URNs, not URLs, so I'm not sure what you mean by 404 above - if they're URLs we can probably set the server's apache to intercept and 404 them, but if we are at the URN level, this is something the repo software needs to handle, no? Does it have any existing functionality to handle redirects or some kind of '404'-like scenario?

[2018-12-12 21:56] ctschroeder commented on #19
What happens is the web application either 1) takes the URN someone types into a box and spits out the corresponding URL, which is operationalized (maybe wrong word here?) as a list of documents that contain that URN; or 2) takes the URL data.copticscriptorium.org/URN generated by someone clicking on that link somewhere else or typing it into their browser bar and likewise generates a page that is

[2018-12-12 21:59] ctschroeder commented on #19
Oh hey now the results message is in the index file https://github.com/CopticScriptorium/cts/blob/master/coptic/templates/index.html
We could modify that message to say hey, if your looking for these abc files, go to xyz instead.

I really do not know how the repo would manage a redirect.

[2018-12-12 22:03] ctschroeder commented on #19
Meanwhile, this documents look great in ANNIS. Just a couple things.

I made small edits to the following files, so they need to be redone:

- AOF YA 525-30
- AOF ZH fragment
- A22 corpus metadata (not sure where that is stored upon commit to Github? I edited the YB 307-320 file)

Also:
- the Mark corpus still needs to be converted and added (see https://github.com/CopticScriptorium/corpora/issues

[2018-12-13 17:38] amir-zeldes commented on #19
OK, the SNP bug should be resolved. Mark has also been updated, and we have fresh versions of AOF and A22 as well. I've spot checked them, but please take a look as well.

[2018-12-13 18:11] amir-zeldes commented on #19
Regarding the redirect, yes, if it were a URL based system they could be intercepted at the apache level, before the app ever sees the request, but the way it's been built this would require making some code changes. Maybe we should put some renovations to the repo on the agenda for next semester. I think we should talk about prioritization again at some point in January.

[2018-12-13 18:16] ctschroeder commented on #19
Ok so in the meantime should I modify the text for the “no results...” message?

Sent from my iPad

[2018-12-14 15:44] amir-zeldes commented on #19
Mmm... I guess you could, sure. Ultimately I'd like a better solution for this though, but it might take some time, so this could be a good band aid.

[2018-12-14 18:10] ctschroeder commented on #19
Right. We need something in the meantime. I am home sick today but will get on this Monday.

[2019-01-09 23:39] ctschroeder commented on #19
OK release is basically done except for a few behind-the-curtain actions:
- [ ] Post TEI, PAULA, relANNIS, tt SGML to GitHub corpora repository (@amir-zeldes)
- [ ] Create release (@ctschroeder or @amir-zeldes)
- [ ] Update [geographic RDF[(http://wiki.copticscriptorium.org/doku.php?id=checklist_for_publishing_corpora#update_pelagios_rdf) (@ctschroeder)

[2019-01-15 23:41] ctschroeder commented on #19
@amir-zeldes is there a way for an admin to batch change status "to_publish" to "published" for all docs with that status?thx!

[2019-01-15 23:44] ctschroeder commented on #19
(@amir-zeldes also I switched AP 18 and 26 from "to_publish" to "review." I see from GitDox commits they have been treebanked. "to_publish" indicates everything is ready, including updated metadata for version # and date; these will still need some metadata changes. Thx!!!)

[2019-01-16 21:33] ctschroeder commented on #19
Ok I think it’s not a high priority if you’re willing to do it yourself. So in the meantime could you please switch everything in GitDox we published to “publish”? Should be everything currently labeled to_publish. Thanks!

[2019-01-16 22:23] amir-zeldes commented on #19
Done!

[2019-02-15 17:18] ctschroeder commented on #22
Decision: Will publish Johannes corpus right away before editorial review to help catch formatting TEI and segmentation.

[2019-03-07 17:29] #19 closed

[2019-03-07 17:36] ctschroeder commented on #22
@eplatte @cluckmarq Hi it's March 7. I'm running behind because I'm sick AGAIN. I will be working on Johannes Canons this weekend and they will be ready Monday.  So if you all need until Monday please take the time.  Christie: will you have more Dirt?  I have not gotten to any of those fragments but can squeeze some in this weekend (probably segmentation:checked, auto everything else).  Please let

[2019-03-07 17:47] cluckmarq commented on #22
@ctschroeder  Sorry you are sick! :/  I am hoping to have a hunk of Dirt (GF113-128) by the end of the day (at the latest before lunch tomorrow). Almost done checking tokenization, but am solely working on this today.

[2019-03-07 17:59] ctschroeder commented on #22
that's awesome @cluckmarq!  Thanks!

[2019-03-08 05:09] eplatte commented on #22
I hope you're feeling better soon, Carrie! I'm just finishing up my sections of Johannes (making changes from openrefine, adding versification), but I'm not going to be done tonight. I'm hoping to get everything done tomorrow, but they'll definitely be ready by Monday!

[2019-03-08 19:20] amir-zeldes commented on #22
Oh no, I'm sorry to hear you're sick too Carrie. Hope you feel better soon. For Besa 2, honestly it's so short we could include a translation of our own, I could ask one of the Coptic-speaking students here if they want to take it on too. I'd try not to mix translated+not in this release, it's not worth the headache of keeping track of the difference for 1-2 fragments IMO.

Thanks everyone!

[2019-03-08 20:13] cluckmarq commented on #22
@ctschroeder just an fyi. I am still working on correcting Dirt in ether (about 15% of way through text). Orthographic variants in the manuscript have translated into NLP misinterpreting a ton of things. But I continue to work on it, and hope I'll have made it through by Monday.

[2019-03-09 02:55] ctschroeder commented on #22
Ok!

[2019-03-11 20:47] cluckmarq commented on #22
@ctschroeder about 500 lines left to review in ether. i will try to finish up tonight after i put kids to bed. so close....

[2019-03-12 00:47] cluckmarq commented on #22
@ctschroeder done! i've assigned dirt (gf 113-128) to you for review. if it's not you reviewing, just let me know so i can assign properly. i am sure i've missed a few things. the main issue is that gf uses ϭ for ⲑ in several places. but, i think i've caught most of them. and there was one place i couldn't figure out what was going on grammatically: i'm not sure what the grouping currently in line

[2019-03-12 02:25] ctschroeder commented on #22
Ok thanks. I’ll get to this end of the week or early next Christie!

[2019-04-18 16:01] bkrawiec commented on #22
@cluckmarq @ctschroeder Since I wasn't publishing I missed this discussion. It's not that GF "uses ϭ for ⲑ in several places." That's a known factor in the process of scraping the data--when Amir changes David's Word transcription into what we use, that letter consistently gets altered. I usually just search for the letter and change it. Sorry to be late on this!

[2019-04-24 21:12] amir-zeldes commented on #22
Huh, somehow this wasn't on my radar, but looking at the scraper script I was able to find the problem - if we ever have more of this kind of data, it shouldn't happen again. Sorry about that!

[2019-05-01 04:49] ctschroeder commented on #22
Hi @amir-zeldes. There are a bunch of files from 1 Cor & Mark plus single files in a22, victor, abraham, and fox that are marked "review" in GitDox. Are these all treebanking files? I am assuming we are not publishing them in this go-around.  Thanks so much!

[2019-05-02 14:09] amir-zeldes commented on #22
We can if we want to, or we can wait for next time, but either way they do not need to be checked (even if there is a stray error somewhere, they should be much more error free than any of the other datasets we release)

[2019-05-02 14:34] ctschroeder commented on #22
Ok yes. I will check the version # and dates for the texts in corpora we are publishing and leave the rest for another time.  Can you do me a favor and check the annotation metadata to be sure the right people are credited? Thanks so much!!

[2019-05-03 19:28] ctschroeder commented on #22
Hi @amir-zeldes. I am done looking over the AP and Besa docs!  Could you please check the annotators for any of those that were tree-banked and then put them on the private ANNIS instance?
Also FYI: I added chapter/verse versification so these docs keep up with our data model. HOWEVER for Besa, this means they don't all validate now, because the validation rule is translation=verse; Kuhn's verses

[2019-05-07 04:59] ctschroeder commented on #22
@cluckmarq I'm almost done with your Dirt files! Looks good.  I'm making a couple of lemmatization and normalization changes with some odd spellings, but I don't anticipate major questions for you.  Thanks!

[2019-05-07 17:42] amir-zeldes commented on #22
OK, Liz has been added to annotation of AP1-4, 27-36, since she treebanked them. Besa treebanking was all me, so no need to add.

Before putting the current versions in ANNIS, I'm noticing some of the AP have verse instead of verse_n, and I just discovered online that some corpora have verse (Victor), and some have verse_n (Pseudo-theophilus)... Which one do we want it to be? I should adjust the v

[2019-05-07 17:57] amir-zeldes commented on #22
RE verse!=trans: it's OK as long as trans never covers multiple verses (opposite is OK, and already the case, compare: http://data.copticscriptorium.org/texts/besa_letters/to_aphthonia/norm)

[2019-05-10 20:47] amir-zeldes commented on #22
OK, Besa is converted and visible to developers as besa.letters_test in ANNIS (log in and toggle visible corpora from 'scriptorium' to 'all')

[2019-05-14 04:37] ctschroeder commented on #22
Hi @amir-zeldes.  Thanks for putting up Besa.  I'll check it soon. In the meantime can you put Dirt on the private ANNIS? One doc has trouble validating the lang column; it keeps saying some empty cells don't conform.  I've tried everything -- deleting contents, adding valid contents, hitting return, doing this for the whole doc, validating (it validates), and then deleting those contents.  But in

[2019-05-15 21:37] amir-zeldes commented on #22
OK, I actually just re-uploaded Besa because the translation spans were very large and I wanted them sentence-wise for eventual treebanking.

I also got the dirt spreadsheets to validate - there were all sorts of weird hidden values under the existing merged spans, I'm not sure how they got there. One way to get rid of them seems to be to merge the cell above them into them, then unmerge.

The pro

[2019-05-15 21:48] ctschroeder commented on #22
Hi @amir-zeldes!
Re Besa: did you change the verse numbering? Those numbers are Kuhn's and we are trying to keep to canonical numbering.  I did notice the long spans but didn't change them for that reason.

Thanks for fixing Dirt!

Re Dirt GF 113-128: please do not change the chapter divisions. Those are David's divisions; I realize versification is ultimately arbitrary or subjective, but I would

[2019-05-16 17:02] ctschroeder commented on #22
@amir-zeldes I talked to Christie about a couple things incl GF. She and I both prefer breaking at GF 121.  I know you prefer GF 122 (a new sentence) bc of treebanking and entities.  Do we really need to break it into two?  Any possibility we can keep it one doc?

[2019-05-16 17:45] amir-zeldes commented on #22
No, no problem breaking at 121 - it will make a weird sentence boundary, but it's negligible in the context of the treebank (we have some fragmentary sentences anyway). Would you like me to break it there?

I think a long document will be a hassle in all sorts of contexts in the future, so I prefer to have some limit to document lengths. For readers it may also be more convenient to be able to scr

[2019-05-16 17:46] amir-zeldes commented on #22
RE Besa, Kuhn's divisions are indicated in p_n, so those stay unchanged. If you look at the 'verses' visualization you'll see it's fine. The only thing that changes is the extent of the highlighted region with floating translation when you hover over a part of a Kuhn paragraph. The analytic vis also looks much better this way, so I don't see a downside (plus I needed those spans for treebanking)

[2019-05-16 18:40] ctschroeder commented on #22
Re GF great, so yes you can split at the beginning of 121. Can you mark them Review in Gitdox so I don’t forget to check the metatdata etc?

Re Besa let me take a look. I’m more worried chapter_n, verse_n, and vid_n all keeping Kuhn’s numbers. P_n is easy peasy. I’ll get back when I check.

[2019-05-16 19:30] amir-zeldes commented on #22
OK I just looked at GF, but 121 is not flush with the beginning of the chapter, so what do you want to do about the chapter span? Will GF 121 begin a new chapter (and the last chapter of GF120 is just two groups), or do you want the same chapter number attested in two documents? Technically nothing prevents that, but it does seem a little confusing.

[2019-05-16 19:30] amir-zeldes commented on #22
RE Besa - I didn't change chapter_n, vid_n etc., only the English translation. The rest lines up with Kuhn, and translated is nested within Kuhn spans.

[2019-05-16 22:40] ctschroeder commented on #22
For GF 121/122: pls keep the chapter and verse numbers as they are.  Break them across the docs.  I may need to renumber -- I am in email convo with David about chapter numbering right now -- but the chapter spans will stay the same.  It's fine if they break across docs.  Happens all the time.

[2019-05-18 13:45] amir-zeldes commented on #22
OK, split documents are up, I updated the big one to a status `to_delete`, feel free to remove if the split looks good

[2019-05-20 17:57] ctschroeder commented on #22
thanks @amir-zeldes.  I will look at these all tonight or tomorrow.  Had a big push reviewing Beth's johannes docs this weekend.

[2019-05-22 15:09] eplatte commented on #22
OK I'm done reviewing Carrie's Johannes docs. Thanks for your patience! I went through all with Open Refine. There is one section of FA143-158 that I couldn't figure out, in line 445 and lines 453-457. I think these are parallel expressions with ⲥⲟⲩⲛ (ⲥⲟⲟⲩⲛ), but I'm not sure what the verbs might be.
I also noticed that the main corpus page the metadata value for license is showing as invalid, tho

[2019-05-23 15:03] amir-zeldes commented on #22
I had a look, it's not just quotes, which should be single here, but also the angle brackets, which should be escaped. So instead of:

`<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0 Unported</a>`

It should be:

`&lt;a href='https://creativecommons.org/licenses/by-sa/3.0/'&gt;CC BY-SA 3.0 Unported&lt;/a&gt;`

I fixed it in the database.

[2019-05-23 22:52] ctschroeder commented on #22
@amir-zeldes I'm logged into ANNIS at https://corpling.uis.georgetown.edu/annis/scriptorium and I don't see any of the new documents.  shenoute.dirt has only one doc, the ap corpus doesn't have any of the new sayings, etc.

[2019-05-24 20:12] amir-zeldes commented on #22
You need to log in and toggle visible corpora from 'scriptorium' to 'all', since these are not in the white list of corpora to display in scriptorium. Besa and Dirt are in, but I haven't converted AP yet, I think it still has some validation errors in GitDox. Do all AP documents already have verses?

[2019-05-24 21:04] ctschroeder commented on #22
No I only added them to new/modified ones. We can ignore out if you want. I have been trying to keep up with them as we publish. Re validation errors in AP I think I mentioned upthread some ones I couldn’t figure out.

Also Johannes Canons were ok’d for prepublication as well

[2019-05-24 21:05] ctschroeder commented on #22
I will check on Besa and Dirt tonight or Sunday. Thx for the tip on finding them!

[2019-05-26 18:03] ctschroeder commented on #22
@amir-zeldes some prepub notes:

- AP the only files that don't validate are due to lack of verse_n; I checked every one. EXCEPT 53 that is giving me span errors that I can't fix for the life of me
- Besa: the diplomatic viz are making every 5th line (the lines with the numbers) look ekthetic. Can this be fixed?
- Dirt: I still do not see a shenoute.dirt corpus with more than one document anywhere

[2019-05-26 22:14] amir-zeldes commented on #22
OK, I added johannes.canons_test and I reset permissions on shenoute.dirt_test (those are the corpus names). Can you check again? It might have been a permissions issue. If you can see besa.letters_test you should be able to see those two as well.

I also had to rename pb_n to pb_xml_id in some Johannes documents, and remove the TEI span. The pb_n seems to follow a different format though, so unle

[2019-05-27 16:06] ctschroeder commented on #22
@amir-zeldes re besa and ap:  I don't have time to add verses to all the AP so yes, release w/o verse_n in all of them. Besa should already have verse_n in all docs, no?

[2019-05-28 16:17] amir-zeldes commented on #22
Yes, I think Besa is good to go.

[2019-05-29 00:34] amir-zeldes commented on #22
AP053 is fixed

[2019-05-31 15:21] ctschroeder opened #24 "PATHS colophons"
https://github.com/paths-erc/coptic-texts/tree/master/colophons

- [ ] Sahidic colophons: get list of colophon ids in PATHS or from PATHS staff for Sahidic colophons

- [ ] PATHS staff would like to consult on normalization

- [ ] may need to create preprocessing script for their annotations

GitHub XML of colophons contains some entity annotations; probably best not to lose that information

[2019-05-31 15:36] ctschroeder opened #25 "Linking to Coptic Scriptorium from PATHS"
identifiers in CS that can be linked in PATHS ATLAS
- msName
- document cts urn for works

Questions: do they have a list of strings that are reliable for places? can query in ANNIS.  However, some strings are place names and something else or are ambiguous.

We hope to have named entity recognition by next summer — maybe save linking places in PATHS to ANNIS db queries for next summer when named

[2019-05-31 15:40] ctschroeder opened #26 "PATHS texts corpora"
Overall comments:
- PATHS docs do not need to be in private repositories
- PATHS metadata about the manuscript, and other metadata about the manuscript specifically (repository, idno, etc.) should ONLY be included if we are 100% sure the transcription comes from ONE manuscript (and is not Tito's or whoever's critical ed based on several manuscripts). When in doubt, check with @ctschroeder
- lb_n a

[2019-06-11 17:03] ctschroeder opened #27 "Fall 2019 Publication Thread"
Timeline:

- hard list of documents determined by September 4
- review beginning Sept 15

Version 3.0, version date 2019-09-30

**List of materials as of 16 September.**

PATHS texts (see #26 @ctschroeder )
   - [ ] Phib
        - [ ] #26
        - [x] needs next/previous, order
        - [x] visualization review
   - [ ] Aphou
        - [ ] #26
        - [ ] needs next/previous, order
        - [

[2019-06-11 17:03] ctschroeder commented on #22
Released May 31

[2019-06-11 17:04] #22 closed

[2019-07-08 01:04] ctschroeder commented on #26
July 2019: PB ok'd publication of the texts by email. (They are already under an MIT license so this is primarily a courtesy, and not required for reuse.) @ctschroeder sent a followup asking about license: whether it is ok to release under CC-BY or if they prefer we maintain their MIT license.

[2019-07-08 04:53] ctschroeder opened #28 "add PATHs metadata to corpora"
- manuscript identifiers/URL

- authors identifiers /URL

- places identifiers/URL (for the original location of the manuscripts); From Paola: please note that one manucuscript/codicological unit may be linked to more places

- Clavis Coptica for works

[2019-08-09 20:22] lgessler opened #29 "Some .config files have spaces instead of tabs"
E.g. [analytic.config for shenoute.fox](https://github.com/CopticScriptorium/corpora/blob/master/shenoute-fox/shenoute.fox_ANNIS/ExtData/analytic.config#L4), where "translation" in the first column is followed by a space.

[2019-08-11 08:09] amir-zeldes commented on #29
This looks like a bug... I'm surprised it works at all. I've corrected the source files for the vis definitions, so they should update on the next release. Since ANNIS tolerates this, I think we can skip a hotfix release.

Just in case there are other gremlins like this: can you have the repo config reader also tolerate:

  * Space separators for entire line if no tabs are found
  * First separato

[2019-08-22 21:31] lancealanmartin opened #30 "Morph Errors"
All corpora need to be checked for ⲣⲙⲙⲟⲁ. Should be ⲣⲙ-ⲙ-ⲟⲁ.

[2019-08-23 16:52] lgessler commented on #29
I used [a regex that replaces a first space with a tab](https://github.com/lgessler/cts/blob/CTS-dev/coptic/gh_ingest/htmlvis.py#L304L313), and that seemed to solve the issue for all the corpora.

[2019-08-25 14:46] amir-zeldes commented on #29
OK thanks, we should still leave this issue open until the source data is fixed (should happen via released 3.0, since config templates have been fixed locally)

[2019-09-03 17:32] lancealanmartin opened #31 "Correct the lemmas of the suffix conjug verboid, ounte"
The lemmas of ⲟⲩⲛⲧⲉ are mostly incorrect in the existing corpora. Most examples list the pre-prepositional form ⲟⲩⲛⲧⲁ= as the lemma. Amir has updated the lemmatizer but the older corpora will need to be corrected.

See Annis search: https://corpling.uis.georgetown.edu/annis/scriptorium#_q=bm9ybT0vLuKyqeKym-Kypy4qLyBfPV8gcG9zPSJFWElTVCIgXz1fIGxlbW1h&_c=YXBvcGh0aGVnbWF0YS5wYXRydW0sYmVzYS5sZXR0ZXJzLG

[2019-09-16 17:15] ctschroeder commented on #27
I would like to add "copyist" or "scribe" to the metadata for the relevant texts in Marcion copied by Victor son of Mercurius (Onophrius, Cyrus, possibly others). See Layton's catalog https://www.dropbox.com/s/s7gdapyphgpc3mb/pLondCopt%20II%20%28Layton%29.pdf?dl=0. Everyone please let me know ASAP if you have any objections.

[2019-09-16 17:23] cluckmarq commented on #27
No objection.

Sent from my iPhone

[2019-09-16 17:34] ctschroeder commented on #27
Also the list of materials for publication is now set.  I am going to check to see if someone can review my doc from Johannes.  Can everyone working on docs for this round of publication be sure that the docs are appropriately tagged in GitDox as "review"?
@amir-zeldes the treebank corpora don't need review (except the Cyrus and Onophrius docs which need metadata revisions). Can you or @lancealanm

[2019-09-16 20:45] amir-zeldes commented on #27
Adding scribe sounds fine to me (sounds better than copyist for my ears, but I'm fine with either)

I have reviewed all of the re-release documents (Shenoute, AP, Besa) and made sure the version is 3.0.0 + dated if they have been edited since last release, so those should be all good. The new Budge materials are either recent additions to the treebank (onno1, cyrus1, ephraim, respose), or they hav

[2019-09-16 23:13] ctschroeder commented on #27
thx so much @amir-zeldes!  I will deal with Proclus and Victor when others are done with them. Whoever's working on them can assign them to me when done.

[2019-09-16 23:46] ctschroeder commented on #27
Greetings @amir-zeldes @lancealanmartin @eplatte @bkrawiec @cluckmarq.  I'm working on URNs for the Marcion material.  Part of the CTS URN is the "text group" and part is the "edition."  A few questions have arisen. Apologies for the long post!  Replies requested by the end of the week if humanly possible.  This comment contains a fair bit of info in regular text with precise questions in **bold**

[2019-09-17 04:35] eplatte commented on #27
I like lives for the text group for Onophrius and Cyril, and Ephrem for the spelling and psephrem for the text group for the epistle. Budge also makes sense for the edition.

[2019-09-17 14:33] amir-zeldes commented on #27
Agreed on lives, budge and adding a pseudo prefix. For the spelling of Ephraim, I feel like we've been using mostly Latin spellings for some reason (onnophrius with 'u', cyrus with 'cy' and 'u'), so something like ephraem or ephrem seems more consistent than 'ai'. Whatever makes more sense as the 'Latin' form I would say.

[2019-09-17 14:41] amir-zeldes commented on #27
OK, auto sentence spans are now added to paths. Some things to note:

1. Quality depends on three things:
    * How good the NLP did/how badly segmented the original was (good: e.g. Aphou, less good, e.g. Longinus)
    * Whether or not there's punctuation (Phib is the best: good NLP, punctuation; Aphou is not as good - no punctuation)
    * Luck (really, coincidental similarity to the limited trai

[2019-09-17 16:18] ctschroeder commented on #27
@amir-zeldes I'll take a look this week about the chapters in PATHS. It sounds like other than that and the metadata, they are done?  We are talking about Paul of Tamma, Phib, Aphou, Longinus and Luke (or no Longinus and Luke -- https://github.com/paths-erc/coptic-texts/blob/master/cc0418.xml). Thanks.

[2019-09-17 17:08] amir-zeldes commented on #27
Yes, since we're releasing this as auto NLP they are basically done. If you want to do chapters let me know, but time is getting short - if so, they should properly nest 'translation' so we can do the blockified (non-numbered) verses view. Thanks!

And I think it is Longinus and Luke, the TEI header there is incorrectly copy-pasted from another file, right?

[2019-09-17 17:11] ctschroeder commented on #27
Yes re Longinus and Luke.

Re chapters: part of the issue is the document URN usually includes the chapters, but we can skip that and just use the edition namespace as the end. Am wondering if the edition should be "CMCL" since it's taken from Tito Orlandi's editions (see for example this referenced in the paths header for Paul of Tamma) http://www.cmcl.it/~cmcl/paolotamma1.PDF

[2019-09-17 17:14] ctschroeder commented on #27
or should the edition be "paths"? I think this is the best strategy, actually. Something like urn:cts:copticLit:lives.pauloftamma.cmcl or urn:cts:copticLit:lives.pauloftamma.paths

[2019-09-17 17:43] amir-zeldes commented on #27
I also think it should be paths, since it includes paths annotations (e.g. their entity schema) and we don't actually know what processing steps happened between CMCL and their version. Saying it's paths is the simplest statement, and Paths's provenance from CMCL is something that should be described by Paths IMO

[2019-09-17 17:49] ctschroeder commented on #27
Bingo

[2019-09-18 19:48] lancealanmartin commented on #27
I can add PATHS as the edition. What should the collection be?

[2019-09-19 03:59] ctschroeder commented on #27
hello, @amir-zeldes. Johannes.canons is ready for viz check; any documents with to_publish or review status. Beth is reviewing the doc needing review.  Thanks so much!

[2019-09-19 04:17] ctschroeder commented on #30
Hi. I'm going through some of these issues before publication. I'm not seeing ⲣⲙⲙⲟⲁ in our published corpora. Do you remember where you saw it @lancealanmartin?  Thank you!  https://corpling.uis.georgetown.edu/annis/scriptorium#_q=bm9ybV9ncm91cD0vLirisqPispnispnisp_isoEuKi8&_c=YXBvcGh0aGVnbWF0YS5wYXRydW0sYmVzYS5sZXR0ZXJzLGRvYy5wYXB5cmksam9oYW5uZXMuY2Fub25zLG1hcnR5cmRvbS52aWN0b3IscHNldWRvLnRoZW9waG

[2019-09-19 04:51] ctschroeder commented on #31
fixed in published docs of AP corpus 18 September 2019

[2019-09-19 05:08] ctschroeder commented on #31
fixed in published Besa letters 18 September 2019

[2019-09-19 13:20] lancealanmartin commented on #30
Sorry! I misspelled the word. It should be ⲣⲙⲙⲁⲟ.

[2019-09-19 17:36] ctschroeder commented on #30
oh goodness I should have seen that. No worries!
https://corpling.uis.georgetown.edu/annis/scriptorium#_q=bm9ybT0v4rKj4rKZ4rKZ4rKB4rKfLw&_c=YmVzYS5sZXR0ZXJzLHNoZW5vdXRlLmEyMixqb2hhbm5lcy5jYW5vbnMsc2hlbm91dGUuYWJyYWhhbSxzaGVub3V0ZS5lYWdlcm5lc3Msc2hlbm91dGUuZGlydCxzYWhpZGljLm90LGFwb3BodGhlZ21hdGEucGF0cnVtLHNhaGlkaWNhLm50LHNhaGlkaWNhLjFjb3JpbnRoaWFucyxwc2V1ZG8udGhlb3BoaWx1cyxzaGVub3V0ZS5mb3gsc2FoaWRp

[2019-09-19 20:46] ctschroeder commented on #31
- [ ] 60224966	ⲟⲩⲛ̄ ⲧⲁ	root	ⲟⲩⲛⲧⲁ	ⲟⲩⲛⲧⲁ	EXIST	Apa Johannes Canons: MONB.FA [37]-42

- [ ] 60225366	ⲟⲩⲛ̄ ⲧⲁ	root	ⲟⲩⲛⲧⲁ	ⲟⲩⲛⲧⲁ	EXIST	Apa Johannes Canons: MONB.FA [37]-42
- [ ] 59593025	ⲟⲩⲛⲧⲁ	parataxis	ⲟⲩⲛⲧⲁ	ⲟⲩⲛⲧⲁ	EXIST	1 Corinthians Chapter 2
- [ ] 59597682	ⲟⲩⲛⲧⲏ	root	ⲟⲩⲛⲧⲁ	ⲟⲩⲛⲧⲏ	EXIST	1 Corinthians Chapter 4
- [ ] 59600311	ⲟⲩⲛⲧ	advcl	ⲟⲩⲛⲧⲁ	ⲟⲩⲛⲧ	EXIST	1 Corinthians Chapter 6
- [ ] 59600665	ⲟⲩⲛⲧⲏ	advc

[2019-09-20 19:16] ctschroeder commented on #27
ok thanks all! And thanks for your patience. I've been doing more research. So some urns for what we have discussed from Marcion:
Marcion:
   - urn:cts:copticLit:lives.onophrius.budge (followed by :chapter#-chapter# if broken into documents)
   - urn:cts:copticLit:lives.cyrus.budge (followed by :chapter#-chapter# if broken into documents)
   - urn:cts:copticLit:psephrem.[TITLE].budge (question rem

[2019-09-21 00:10] ctschroeder commented on #28
Hi @amir-zeldes and @lancealanmartin I am adding manuscripts, authors, works to our new corpora from Marcion and PATHS.  Following the guide here https://atlas.paths-erc.eu/cite I am using metadata field names paths.manuscripts (not PATHS_CLM_ID -- sorry for the change!), paths.authors, paths.works. Fields contain the numbers and url as requested by the project.

[2019-09-21 19:34] amir-zeldes commented on #27
I'm OK with psephrem, and 'letters' (similar to Besa) or 'letter' if it has to be (I think there might be more than one somewhere, since it says 'another epistle...'(?)

For dormition, I'm not sure using 'marc' to denote Marcion is the best here, since it seems a bit coincidental that this thing is in Marcion and something else isn't. The reason it's in Marcion is that it was in the same Budge edi

[2019-09-23 20:06] #31 closed

[2019-09-24 13:33] amir-zeldes commented on #27
Between misc and marc, I prefer misc. That says something semantically (e.g. "this is not one of the other established text groups"), whereas marc is a statement about a historical coincidence of what happened to be digitized in Marcion, all while other things that were digitized in Marcion do not get the same group. So for me 'misc' is definitely the better option.

[2019-09-24 22:07] lancealanmartin commented on #26
Question about life.paul.tamma metadata. I found the text on paths (paths.works.152) and see that it is linked to five manuscripts. Does this mean that the Life (or parts of it) are found in all of these manuscripts?

[2019-09-24 22:31] ctschroeder commented on #26
@lancealanmartin this is an edition Tito Orlandi created for CMCL. I don't think it is a diplomatic edition of a particular manuscript, or if it is that info isn't provided in the PATHS digital edition. So we should skip the paths.manuscripts field for now.

[2019-09-24 22:31] ctschroeder commented on #26
@lancealanmartin @amir-zeldes did anyone annotate the PATHS material besides you two? Thanks!

[2019-09-24 23:15] ctschroeder commented on #26
Last but most impt q for @amir-zeldes: we are in a bit of a bind with no chapter divisions for these documents that are divided.

The CTS URN system assumes chapters.  We can have a CTS URN for the entire work undivided that looks like urn:cts:copticLit:lives.aphou.paths_ed.  If we have multiple documents, though, we need chapter numbers on the end, for example  urn:cts:copticLit:lives.phib.paths_

[2019-09-25 14:47] amir-zeldes commented on #26
No, I think only Lance and I have worked on this. For the chapters, two of the works have built-in numbered paragraphs from PATHS (Longinus and Phib), so I think we can use those for chapters if needed (they are currently called p_n). For the other two works, I wanted to blockify the visualization and have them be like Eagerness (paragraphs, no versification yet), so I added a not very carefully t

[2019-09-25 14:55] ctschroeder commented on #26
Hi. Thanks for pointing me to the p_n’s in one text. I looked at a couple but not all four.

Unfortunately we really should not randomly assign chapters if there are chapters existing in the print edition that people use. I know you made the p’s for visualization purposes, which is very helpful.  We deliberately did not number them. Eagerness has a different editorial history.

I’ll look at the te

[2019-09-25 18:50] lancealanmartin commented on #26
If you both think it is a good use of my time and if you send me pdfs of the print editions, I can add chapters to at least some of the PATHS texts.

[2019-09-25 19:31] ctschroeder commented on #26
Thank you so very much Lance. We must wait to hear back from PATHs. I don’t have pdfs of the editions and could not find them online; I think the Paul of Tamma one references in their TEI is actually incorrect. Paola wrote back to say it may take a couple of days.

[2019-09-25 19:41] amir-zeldes commented on #26
Just to be clear, the intention was never to randomly assign chapters (which is also why I did not number them), I was just trying to add unnumbered p tags in the same way as Eagerness. From the visualization perspective, this works fine, as you can see in ANNIS.

[2019-09-25 19:55] ctschroeder commented on #26
Thank you! I thought you were suggesting adding numbers to align with the p tags, and I apologize for misunderstanding. The unnumbered p tags are quite valuable for the visualization. Unfortunately we need to distinguish the document urns and the CTS system expects chapters, and I did not realize when we conversed a couple of weeks ago that *all* the works  division; I thought we could get away wi

[2019-09-26 01:05] ctschroeder commented on #27
Greetings! I'm currently updating corpus metadata. It looks like someone else is also adding corpus metadata, which is wonderfully helpful.  A couple of tips:  the dates for version_date always have hyphens (30-9-2019), we use full names for annotators (Elizabeth Davidson vs Liz), and we include all annotators in the corpus (so we need to check each document to be sure the doc annotators are all i

[2019-09-26 03:18] ctschroeder commented on #27
ugh -- I meant 2019-09-30 in that previous comment. My apologies!

Also @amir-zeldes have the people who treebanked the documents listed at the beginning of this thread been added to the annotation metadata for documents and corpora?  I looked at a couple AP and the Abraham files, and I don't see new names in the metadata.  If it's someone already listed, that's great. If not, the names need to be

[2019-09-26 17:34] amir-zeldes commented on #27
version_date (and _n) has a validation, so that should get automatically flagged if someone used the wrong format.

According to a SQL query on the database, there are now no longer any documents with 'Liz', so that should be fine, but yes let's remember to always do full names!

Treebanking info:
  * AOF - Amir
  * A22 - Liz & Amir
  * Mark - Mitchell, Lance & Amir
  * 1Cor - Mitchell & Amir
  *

[2019-09-26 18:08] ctschroeder commented on #27
Thank you Amir!  (I don't believe corpus metadata errors crop up in validation.)  I will check 1 Cor annotators.

[2019-09-26 18:38] lancealanmartin commented on #27
I did entity annotation for the first three chapters of both 1 Cor and Mark as well as shenoute.fox. Should I add my name to these docs?

[2019-09-26 18:45] ctschroeder commented on #27
Yes @lancealanmartin please add your name to any document you edited, and then also add it to the corpus metadatum for annotation. Giving full credit to everyone is a major principle of ours!!  Most documents have the primary annotator first, subsequent annotators in the middle, and the senior editor(s) who reviewed the document (usually Amir or me, sometimes Beth) as the last name.

[2019-09-26 19:04] amir-zeldes commented on #27
I have no issues with adding Lance to those documents, as entity annotations will one day be released, but just to clarify, those entity annotations are not currently available in the online corpora.

As for annotator order: I'm embarrassed to say I seem to have had this wrong. I think anything where  I added the names I did alphabetically by last name... Since Carrie and I are alphabetically rela

[2019-09-26 19:43] ctschroeder commented on #27
No worries. I think order primarily a big deal for manually edited documents rather than the automated ones and especially by junior folks; I try to keep an eye out for this during publication.

[2019-09-26 23:35] ctschroeder commented on #27
@amir-zeldes the Marcion corpora are ready and should be frozen. Marcion corpora that are also in the gold treebank corpora will need metadata updated for the treebank files. TY!

[2019-09-27 00:58] ctschroeder commented on #27
Hi @amir-zeldes I'm almost done with the johannes corpus -- checking visualizations, and I noticed that the new document is not in ANNIS. I see that there are 8 docs in the private instance and in the public one. I checked and FA215-224 is missing from the private instance. Thank you!

[2019-09-27 02:16] amir-zeldes commented on #27
Got it. Try again now

[2019-09-27 03:43] ctschroeder commented on #27
Oh goodness that was a doozy. I think due to the page layer being labeled pb_n instead of pb_xml_id. I hope that fixed it.

Also I am really sick (v sore throat) and so while Johannes is done the rest will have to wait for tomorrow.

[2019-09-27 03:50] amir-zeldes commented on #27
Oh no, it's been going around here too. Feel better!

New version with on fix is already online.

[2019-09-27 05:29] ctschroeder commented on #27
Johannes is good to go!

[2019-09-27 13:34] amir-zeldes commented on #27
Thanks - right now TEI is not validating due to having chapter_n but not verse_n. We could revert it to 'p' mode, without chapters, but is there a reason the verses are 'ignore:'ed?

[2019-09-27 14:59] ctschroeder commented on #27
Hi. Are we talking about Johannes or everything? For Johannes they’re ignored because I started and didn’t finish once we decided we didn’t need verse numbers for this release.

Re TEI this must be common for all the documents that don’t have verses? This is odd because I don’t remember this as a problem in the past. I’m also really too sick to brainstorm at the moment. Do what you think is best.

[2019-09-27 15:15] amir-zeldes commented on #27
The decision is per corpus, so we can either switch off verse numbers in 'verses' for all documents, or I'm happy to add consecutive numbers to verses in each chapter myself if that would solve it. Also, if only one document doesn't have verses, it's TEI would have to look different from other documents in the corpus. Just give me your OK and I will add verse nums (they're mostly already there, I

[2019-09-27 15:18] ctschroeder commented on #27
I’m not confident the numbers I have already are good sentences. If you have time to check please be my guest!

[2019-09-27 22:17] ctschroeder commented on #27
@amir-zeldes it looks like we messed up the language/languages consistency in corpus metadata again. Is there an easy fix, or should I go back through all of them and check manually?

[2019-09-27 22:21] ctschroeder commented on #27
@amir-zeldes sorry to bother you again but it appears the treebank annotators have not been added to document metadata in all the items. I'm noticing this in Mark.  You've listed treebankers by corpus above, but I don't know which docs belong to whom.  Can you please check the document level metadata to be sure the treebankers have been added?  https://github.com/CopticScriptorium/corpora/issues/2

[2019-09-27 22:22] ctschroeder commented on #27
(This may mean the corpora we thought should be frozen need to be fixed.  I assumed the treebank folks had been added to doc level annotation.)

[2019-09-28 01:47] amir-zeldes commented on #27
OK, I will look into these tomorrow

[2019-09-28 05:32] ctschroeder commented on #27
A few final things for this evening:

1. I'm noticing some corpora that are not ready are on public ANNIS.  I'm guessing they are supposed to be behind the password and there was some glitch? At any rate, can they be removed right away?  They are: AP, life of L&L, life of Phib, Mark (see below), 1 Cor?

2. red alert! unfreezing:
- there was a problem with Cyrus (now fixed and ready to be reprocess

[2019-09-28 13:36] amir-zeldes commented on #27
1. ANNIS is a glitch from concurrent ANNIS4 security manager (you are actually seeing what's in ANNIS4 right now, including some non-ready tests). Now reverted, sorry about that.
2. OK, Cyrus is reconverted and Mark + 1Cor document annotators are checked for the treebanked parts (Chap. 1-6 in both)
3. 1 Cor and AP are good to go (were already correct)
4. It seems that with the added annotations, i

[2019-09-28 13:54] amir-zeldes commented on #27
RE language/languages:
  * All individual documents have 'language'
  * All corpora have 'languages' except:
    * fox
    * dormition
    * pseudo-ephrem

Was it intentional for corpora to have 'languages' to differentiate from the document level metadatum? In ANNIS, metadata queries just 'apply', so it the two fields conflict and are called the same, it's possible exact meta-based searches will

[2019-09-28 14:55] ctschroeder commented on #27
Beth did some digging into this a year ago. I don’t remember the logic, but we went with language for doc/languages for corpus.  It gets mangled in corpus metadata bc that can’t be validated.

[2019-09-28 15:01] ctschroeder commented on #27
Also thanks so much for all of this! I will be offline almost all day. I think I’ve done everything I can (except for those additional 3 paths texts). Please ping me if you need anything and I’ll check in tonight.  Take care.

[2019-09-28 17:16] amir-zeldes commented on #27
Sounds good! Which 3 texts though? I think there's Longinus and Phib, which have chapter numbers from PATHS (p_n), and Aphou and Paul, which have unnumbered paragraphs that we made (just p)

[2019-09-28 17:21] ctschroeder commented on #27
Greetings from the airport. see the corpora checked/not checked at the top of the thread. L&L should be the only one checked/ready. That checklist at the top should be the final list. I’ve done everything I can on all the docs except the 3 unchecked PATHS texts. Leave those three alone. Everything else is either ready or has items to check off that only you can do. Good luck.

[2019-10-01 00:07] amir-zeldes opened #37 "Commas in non-splittable translation metadata"
NT translation field contains commas, which are reserved for splittable translators in the CTS repo:

[code]

@lgessler has applied a patch to CTS repo to prevent splitting if any segmented is longer than 50 chars. Ultimately this metadatum should be fixed and possibly shortened, with faceted search in the repo in mind (we don't want to display a long value for users to search by). Once commas are

[2019-10-01 00:08] amir-zeldes commented on #29
Fixed in 31450f6

[2019-10-01 00:08] #29 closed

[2019-10-01 01:12] lgessler commented on #37
Adding to what @amir-zeldes wrote, the other Bible corpora (1 Corinthians, Mark, NT) have the translation value `World English Bible (WEB)`. Something similar to that, preferably _without_ a hyperlink (they cause all kinds of trouble that's best avoided) would be consistent and, I think, preferable unless there's a reason we want all this information in the translation field. Even `L.C.L. Brenton`

[2019-10-01 02:44] ctschroeder commented on #37
Oh yes those commas would be a problem!  I'm fine with L.C.L. Brenton 1851 in "translation" and moving more info+link to "source" or "source_info".  (Source is usually the names of people; source_info might be better?  But really it doesn't matter to me.)

[2019-10-07 20:15] amir-zeldes commented on #37
Alright, I've added it to the OT metagenerator script, so whenever we rerun that corpus it should get fixed. I'm not retroactively fixing it in ANNIS/GH, since that would constitute a new version, but we can aim to re-do the Bible corpora with the newest NLP in an upcoming release.

[2019-10-11 05:04] ctschroeder commented on #30
reopening because I'm seeing this in a doc that was run through NLP before v. 3.0 of the NLP tools.  Need to check Johannes corpus texts currently being annotated.

[2019-10-11 08:02] lgessler commented on #30
question--when yall correct these errors where do you correct them? ANNIS, GitDox, somewhere else?

[2019-10-11 12:43] lancealanmartin commented on #30
Gitdox!

On Fri, Oct 11, 2019 at 4:02 AM Luke Gessler <notifications@github.com>
wrote:

[2019-10-11 13:49] ctschroeder commented on #30
Yes GitDox. Changes are not/should not be made directly in ANNIS because threats not the core data that gets archived or edited further in future rounds.

Sent from my iPhone

[2019-10-11 14:24] amir-zeldes commented on #30
The publish script pulls data from GitDox and generates the public corpora repo, which includes relANNIS dumps. Those are then imported into ANNIS, while the TT folder is the basis of the CTS interface. So GitDox is where anything that is not added automatically should be corrected (parses for non-treebanked data and MWE are auto-added during publication, and gold parses live in the UD_Coptic repo

[2019-10-15 00:21] ctschroeder opened #38 "ISYE has no corpus metadata"
I was using ISYE today while conducting research for an article and noticed the corpus is missing corpus metadata.  I think I know what happened: when we release an old corpus for the first time from the GitDox process, the corpus metadata isn't already in Gitdox and has to be entered anew into GitDox. It appears that ISYE was rereleased this fall (for the first time from GitDox I think?), and the

[2019-10-17 14:58] amir-zeldes commented on #38
Thanks for spotting this - I think this is not too bad, and yes, with a big release little errors like this can slip through. This should be easy to fix.

I've added the metadata in GitDox, based on the previous version:

https://github.com/CopticScriptorium/corpora/blob/9ceebd576109890a8dc09e17ca94277befe5307c/shenoute-eagerness/shenoute.eagerness_ANNIS/corpus_annotation.annis#L619-L625

I've ten

[2019-10-18 05:21] ctschroeder opened #39 "PATHS metadata field names not appearing properly in ANNIS"
The PATHS metadata fields in ANNIS don't appear properly.  The period appears as the character code %2E, so paths.works is paths%2Eworks.  Is it possible to fix this? We discussed these field names prior to releasing the new data, and I thought we had concluded that the period in the field name was not prohibited. Can we still use these field names?

I apologize for missing this during the review

[2019-10-18 05:40] ctschroeder commented on #26
I have the editions of most of the other texts.  Will take a look this fall at chapter numbering, etc.

[2019-10-18 05:47] ctschroeder commented on #38
Hi.  Thanks so much.  Yes, if the documents themselves have not been changed at all then yes the doc versions would be the same.

It does seem odd to change the version number for the corpora but not for the docs.  Is there some alternative to the versioning that I'm not thinking of?

[2019-10-18 13:34] amir-zeldes commented on #38
We could introduce some small edit into each corpus if it's really bothering you, but otherwise, since this change shows up only in ANNIS/PAULA, it's not going to be noticed too much (V3.0.1 will show up in ANNIS/PAULA corpus metadata, TT and TEI remain unchanged). Shall I go ahead?

[2019-10-18 13:38] amir-zeldes commented on #39
OK, I absolutely knew we will have a problem with these somewhere, but as the XML standard doesn't actually prohibit them, I figured we'd just tolerate this. Now I see I should have been more paranoid: in fact, ANNIS does not allow periods in annotation names (regular or meta).

We could theoretically get into how to change ANNIS to support this, and it would definitely take a while even if we get

[2019-10-22 16:36] ctschroeder commented on #38
Oh I could have sworn I replied to this via email days ago. Absolutely no I did not mean to suggest we should edit the docs just for the sake of editing.  So yes please go ahead.  Thank you so much for taking care of this!

[2019-10-22 16:45] ctschroeder commented on #26
Hi I am looking through the pdfs PATHS sent and checking against our docs. I have a question about metadata.  It looks like Life of Phib has been given metadata for manuscript location and other manuscript info. What is the source of that metadata?  The edition we received from PATHS doesn't state that it's based on a particular manuscript. The PATHS entry for the _work_ indicates there are a coup

[2019-10-22 16:59] amir-zeldes commented on #26
I don't know where that information is from - do you know @lancealanmartin ? And @ctschroeder , do PAThs have a preference for what we should put in those fields?

[2019-10-22 17:07] ctschroeder commented on #26
Hi, @amir-zeldes. We don't put anything in those fields if it's not a) one of our own born-digital  diplomatic editions or b) if it's not clearly identified as an edition from a single manuscript (so many of the Budge editions have this data bc Budge transcribed from one manuscript).  For situations such as a) or b) we follow our usual practices.

[2019-10-22 17:21] ctschroeder opened #40 "Winter 2019-20 publication/release thread"
Last updated 1/1/20

Dates:

- January 15: document list frozen, nothing should be added after January 15.
- January 31: documents due for editorial review
   - review of annotations+ metadata for "checked" and "gold" docs
   - review of metadata for "automatic" docs
 - ~~Feb 28~~ March 3: data freeze for publication

Versioning:
- This release will be version_n 3.1.0 (in all likelihood).
- Releas

[2019-10-22 17:24] ctschroeder commented on #26
Also I am working on Life of Phib bc they are assigned to me in GitDox.  @lancealanmartin or @amir-zeldes. Please ping me if you want to work on annotations on these docs so we can coordinate. Thanks so much.

[2019-10-22 17:27] amir-zeldes commented on #40
There are a couple of other candidates to add, and maybe more will be added as we progress through the fall:

  * Victor, parts 3-8 - this is already close to being done
  * Discourses of Athanasius (currently being annotated)
  * Also need to check with So about those Shenoute texts

More depending on how far we get with Budge etc.

[2019-10-22 18:02] amir-zeldes commented on #26
Currently focusing on finishing Victor and putting up the version of Instructions of Pachomius in as few docs as possible (pending ANNIS4 performance tests), so I'm not working on Phib.

[2019-10-24 18:52] #38 closed

[2019-10-24 18:55] amir-zeldes commented on #38
OK, it's imported and ingested. I did make some minor corrections anyway, as GF31-32 is now treebanked. Annotators are up to date as well. Take a look and let me know, if it all looks good I will mint a release 3.0.1 on GitHub.

[2019-10-25 05:18] ctschroeder commented on #38
I think this looks good! Thanks a lot!

[2019-10-25 13:39] amir-zeldes commented on #38
OK, release tag is done

[2019-10-30 19:44] lancealanmartin commented on #26
I did not notice the comments added a week ago--sorry for the late response. I am not sure where the information is from. I may have added manuscript info based on PATHs data around the last release but will keep in mind your note about Orlandi's edition going forward.

[2019-10-31 04:54] ctschroeder commented on #26
Don't worry about this while you're studying @lancealanmartin.  We can go over GitDox stuff when we meet.  Unsubscribe or use a filter to send GitDox messages to a folder you don't open while you're prepping for exams. :)

[2019-11-12 18:34] ctschroeder commented on #26
Some overall notes (which I will post in the top comment as well so everyone can see easily).  Adding here for everyone especially me, since my brain is now a sieve and I will not remember:

- PATHS metadata about the manuscript, and other metadata about the manuscript specifically (repository, idno, etc.) should ONLY be included if we are 100% sure the transcription comes from ONE manuscript (and

[2019-11-14 19:53] amir-zeldes opened #42 "Update verse and chapter to verse_n, chapter_n"
Some documents have legacy annotation names `chapter`, `verse`: these should be changed and the documentation in the wiki should be updated.

Documents with `chapter`:
https://corpling.uis.georgetown.edu/annis/scriptorium#_q=Y2hhcHRlcg&ql=aql&_c=YXBvcGh0aGVnbWF0YS5wYXRydW0sYmVzYS5sZXR0ZXJzLGRvYy5wYXB5cmksZG9ybWl0aW9uLmpvaG4sam9oYW5uZXMuY2Fub25zLGxpZmUuY3lydXMsbGlmZS5sb25naW51cy5sdWNpdXMsbGlmZS5vbm

[2019-11-15 21:16] lancealanmartin commented on #42
I have updated 'chapter' and 'verse' to 'chapter_n' and 'verse_n' for all relevant documents.

I noticed a few inconsistencies in the Corinthians docs @ctschroeder and @amir-zeldes. Chapters 1-10 have the word chapter in their titles, e.g., '1 Corinthians Chapter 7' Chapters 11-16 use the following model: '1 Corinthians 11'. Which of these should it be?

In the spreadsheet, the biblical chapters 1

[2019-11-16 15:44] amir-zeldes commented on #42
Thanks for doing this @lancealanmartin - the Bible data is a little different: since every document is exactly one chapter, I think we don't really need a chapter_n span - what do you think @ctschroeder ? For the title I think without 'chapter' looks better, but I don't feel strongly about it.

[2019-11-16 16:30] ctschroeder commented on #42
Thank you @lancealanmartin. Thank you for asking @amir-zeldes.

In the titles, I also probably prefer 1 Corinthians 1 (no chapter).

The reason for the chapter span would be to enable search, so I suggest we put in the spans. I know it sounds odd, but I feel like there might be a situation where someone might put that in a search and not know we don’t have the span.

[2019-11-18 18:32] amir-zeldes commented on #42
That's true - the Bible data does already have a chapter **metadatum** in each document, but if users expect the span annotation to be there for all data, they might expect it there as well.

[2019-11-19 14:36] lancealanmartin commented on #40
Victor docs now have valid chapter, verse, and pb_xml_id numbers. I think this is it on the annotation side unless we want to go over the pos tags more carefully.

Its metadata is complete except for version_n and version_date. I modeled the 'document_cts_urn' after victor, parts 1 and 2. @ctschroeder let me know if these look correct (no rush).

[2019-11-19 15:26] amir-zeldes commented on #40
I think I'm OK with not going over POS tags again - once segmentation has been checked, it is typically quite high accuracy, and it seems like a better use of our time to release more texts than worrying about the last 2% tagging errors.

The third and final document of athansius.discourses is now up in XML mode, with automatic piping and the title `soul_body`

[2019-11-19 17:09] ctschroeder commented on #40
Thank you @amir-zeldes & @lancealanmartin . Please make an issue in the victor repo for this publication cycle and link to it above in the main comment on this issue thread. Otherwise the info will get lost since there are so many docs in this release.  In general, everyone please post corpus specific annotation information in the corpus-specific repos and link issues.  Likewise @amir-zeldes pls m

[2019-11-19 17:10] ctschroeder commented on #40
(Quickly to add -- not complaining or concerned about anything posted here thus far. The work is amazing. I want to be sure none of it gets lost in a long thread.  Thanks!)

[2019-11-19 17:22] amir-zeldes commented on #40
Sounds fine - @lancealanmartin can you make an issue in Budge dev listing the Athanasius documents and link it in this thread?

[2019-12-08 05:12] ctschroeder commented on #26
I'm done with the metadata on Life of Phib. @amir-zeldes @lancealanmartin are the annotations of the Life of Phib (parts 1 & 2) ready for editorial review, or do you want to keep working on them? Reassigning them to Lance just in case.

[2019-12-09 20:15] lancealanmartin commented on #26
I was not planning to revisit the docs. After looking through the commits, I realize that I may have caused some confusion with this doc. It was on my comps list, and, since I did not have an edition on hand, I read it on gitdox a couple of months ago to study (on my own time).  I committed a few corrections and completely forgot to mention it!

In terms of quality, the tagging of phib 1 is probab

[2019-12-09 20:49] amir-zeldes commented on #26
The idea for Paths for last release was for it to be full-auto, so it did not go through the normal review in pipe mode. If you'd like I can re-process the text and put up a piped version for correction in XML mode, but that would mean losing any edits to the spreadsheet... Alternatively if quality is relatively good we could try to fix segmentation in spreadsheet mode, but that could take a long

[2019-12-10 04:22] ctschroeder commented on #26
Hi. I agree with @amir-zeldes that we should not spend a ton of time on it. I am marking Phib 1 "to review" and Phib 2 "to publish". If we have timeto review Phib 1 before publication great, if not we can just add to the note that annotations have been v lightly edited.

[2019-12-12 02:05] ctschroeder commented on #42
Hi. How is this going?

[2019-12-12 02:11] ctschroeder commented on #40
https://github.com/CopticScriptorium/corpora/issues/40

[2019-12-12 02:12] ctschroeder commented on #27
Closing. Info in https://github.com/CopticScriptorium/corpora/issues/40.

[2019-12-12 02:12] #27 closed

[2019-12-12 16:26] lancealanmartin commented on #42
It is finished. All docs should have chapter_n and verse_n.

[2019-12-12 16:27] #42 closed

[2019-12-12 18:34] bkrawiec commented on #40
I am concerned that finishing Those (10 documents, 35 MSS pages) might be more than I can complete (classes begin Jan 13)--I don't have a good sense of how long it will take to check the spreadsheets. I don't want to commit and not get it done so I am undercommitting to GF 253-70 (4 documents), with the hope that I would also do GF 301-350 (4 documents). It would be helpful for someone else to do

[2019-12-12 21:13] ctschroeder commented on #40
Thanks all. I have updated the threads in each corpus with checklists and assignments.  Re timeline: @cluckmarq, @eplatte, and @bkrawiec all are on board with a January 31 deadline for annotations. So @amir-zeldes  & @lancealanmartin I propose the following timeline:

- Document list frozen on January 15
- Annotation documents ready for editorial review and or publication by January 31. (There are

[2020-02-04 18:17] ctschroeder commented on #26
Life of Phib was lightly edited but not fully checked a while back (see above thread). @amir-zeldes & @lancealanmartin : did anyone do a thorough check of the annotations in the meantime?  It's fine either way; I just need to know for review and metadata issues.  Thank you so much!

[2020-02-04 18:51] amir-zeldes commented on #26
I'm pretty sure Phib has not been checked, unless @lancealanmartin knows otherwise. If someone plans to correct tokenization on it, I would suggest reverting to pipes, since it would be faster than correcting in spreadsheet mode, and the annotations there are just NLP output.

[2020-02-04 21:42] lancealanmartin commented on #26
I have not checked Phib thoroughly.

[2020-02-05 17:17] ctschroeder commented on #40
Hi. Following up on @amir-zeldes' comment above about check/not checking POS/lemma/lang tags:  I have noticed some significant errors in pos tagging after segmentation is checked especially around CPRET, NEG, CFOC, ACONJ.  Also lemmatization issues, though fewer.

Whatever one decides to do, just please be sure each document's metadata indicates the level of checking: automatic, checked, or gold.

[2020-02-05 18:26] amir-zeldes commented on #40
Yes, exactly - tagging should be 'automatic' in these cases. In terms of error likelihood, CFOC is one of the hardest to predict, and CPRET is comparatively easy. NEG and ACONJ are in the middle, I would say. If you anticipate a lot of CFOC in a text, it's worth searching through the CCIRC tags to verify (confusion with the past tense CREL is more rare).

[2020-02-06 02:31] ctschroeder commented on #30
all checked

[2020-02-06 02:31] #30 closed

[2020-02-06 04:46] ctschroeder commented on #40
Hello!  I think I've got the rundown:
@amir-zeldes the Johannes corpus
@lancealanmartin shenoute.those (it's 6 docs -- let me know if that's going to be too much)
@cluckmarq shenoute.unknown5_1 (2 docs)
@bkrawiec shenoute.seeks (1 longer doc)
@ctschroeder athanasius corpora + victor

When you do the review, can I ask you to:
- be on the lookout for mistagged n...an 's?
- add your name to the end o

[2020-02-06 19:08] amir-zeldes commented on #40
I can auto assign the date once we know it to all documents with version_n 3.1.0 - it's important to update the version_n field though, and just leave some value in there (-- works, or if it's an older value that's fine too, as long as it's something)

As for Cyrus/Mark/A22, this is a result of our policy to set status to 'review' for anything that has been edited since the last release (e.g. for

[2020-02-06 21:31] ctschroeder commented on #40
Ok thanks for this clarification. I’ll assign them to myself to look at the metadata.  I would rather not add another status, actually, without reviewing all our current status levels, since they seem to have proliferated a bit and there are some overlaps.

That’s great news about auto populating the version date!  Yay!

[2020-02-27 20:41] ctschroeder commented on #40
Hello editors @amir-zeldes @lancealanmartin @cluckmarq @bkrawiec Just a quick reminder that our goal is to finish the editorial review this week (or hopefully by Monday). If you need more time, please LMK. Amir can probably get started on some corpora while you're finishing.  Thanks for all your work!  You can reply here or send me an email.

[2020-02-27 20:43] bkrawiec commented on #40
I am aiming for Monday.

Becky

[2020-02-27 22:09] amir-zeldes commented on #40
I'm still working on that last Johannes (others are done)

[2020-02-28 00:16] lancealanmartin commented on #40
I am finished with shenoute.those.

[2020-02-28 22:20] cluckmarq commented on #40
sorry to be slow, i'm aiming for monday as well.

[2020-03-02 15:35] cluckmarq commented on #40
fyi, should be done with my texts around noonish est

[2020-03-02 15:49] ctschroeder commented on #40
great. thanks Christie!

[2020-03-02 19:11] ctschroeder commented on #40
@amir-zeldes Victor and Aphou are ready.  Several more corpora should be ready tonight.

[2020-03-02 20:39] amir-zeldes commented on #40
Fantastic, I'm done with review of Johannes, so I will hopefully find time to go over the overall GitDox validation situation soon.

[2020-03-02 22:11] ctschroeder commented on #40
ok checking them off as I go through. Stuck a bit on some of the Marcion material but will go check again tonight/tomorrow to see where we are. Plenty for you to work on in the meantime tho :)

[2020-03-12 18:01] ctschroeder commented on #28
For field names, we are replacing the dot used by PATHs with a dash or underscore.

[2020-04-02 16:12] ctschroeder opened #45 "Summer/Fall 2020 Release thread"
Marcion (@amir-zeldes, @lancealanmartin)

- [x] Life of Pisenthius (@lancealanmartin)

    - [x]  doc 1: [Issue with repeating page numbers](https://github.com/CopticScriptorium/budge-dev/issues/5)

    - [x]  doc 2

    - [x] metadata issues in [this thread](https://github.com/CopticScriptorium/budge-dev/issues/6) must be resolved and addressed

    - [x] final metadata review by @ctschroeder

-

[2020-04-03 04:40] ctschroeder commented on #40
Great job everyone!!!

[2020-04-03 04:40] #40 closed

[2020-05-10 15:43] amir-zeldes opened #46 "ϩⲁⲡⲥ should be tagged V"
It's tagged as an impersonal verb in Crum/CDO:

https://coptic-dictionary.org/entry.cgi?tla=C6747
http://coptot.manuscriptroom.com/crum-coptic-dictionary/?docID=800000&pageID=696

But we have:

[code]

Functionally similar to ⲉⲝⲉⲥⲧⲓ

[2020-06-25 19:51] lgessler opened #47 "`copticLit.` instead of `copticLit:` in URN for Onnophrius 4"
TT markup for [Onnophrius 4](https://github.com/CopticScriptorium/corpora/blob/master/life-onnophrius/life.onnophrius_TT/life.onnophrius.04.tt) has `urn:cts:copticLit.lives.onnophrius.budge:25-33` instead of what I think is the correct `urn:cts:copticLit:lives.onnophrius.budge:25-33`

[2020-06-25 20:23] amir-zeldes commented on #47
Oh, that's really weird since none of the other documents have the issue. Someone must have clicked in the field and edited accidentally.

Fixed in GD, should propagate in next release.

[2020-06-25 20:23] #47 closed

[2020-07-28 04:55] ctschroeder commented on #45
version number will be 4.0. Version date will be automated.

[2020-07-28 04:56] ctschroeder commented on #45
@amir-zeldes do we need to check with someone like Alin Suciu about whether the Marcion documents are really what they claim to be?  Or is there 100% certainty about author (vs stated author), title, whether it's a translation, etc.?

[2020-07-28 19:02] amir-zeldes commented on #45
By all means, I'm very happy if Alin has time to take a look that would be great. I'm sadly not on expert on these aspects of ancient text attribution!

[2020-07-28 19:15] ctschroeder commented on #45
These are not things he needs to look at. He knows the sources intimately and can quickly tell us the state of the field usually.

It’s important we figure out the latest assessment of authorship, etc., since people will be using our data for research. We don’t want our data to be unusable or misleading. So,  we don’t want a researcher publishing something about Athanasius in Coptic  translation w

[2020-07-28 19:24] amir-zeldes commented on #45
Yes, that's great. Like I said I'm all for it and happy to correct any errors that turn up.

[2020-08-11 16:47] lancealanmartin commented on #45
Is there any update on Alin's comments on authorship? I found Greek versions of John of Constantinople (John IV or John the faster) and Eusebius "On the Caananite Woman" in Migne's PG. The later is actually written by John Chrysostom if Migne is correct, but his editions aren't infallible. I haven't found evidence contradicting the authorship of Basil for his discourse or John the presbyter for th

[2020-08-11 21:40] ctschroeder commented on #45
Working on it!  In the meantime you can checknPATHS-both the entries for the texts and authors and bibliography in those entries.

[2020-08-12 13:55] lancealanmartin commented on #45
Great! The Paths entries are consistent with my note above, and, for now, I filled attributed_author and author fields in the metadata for all docs except for basilius.discourse. PATHs lists Basil as the stated author but does not list him or anyone as the work's creator.

[2020-08-13 05:29] ctschroeder commented on #45
I added a new issue in the budge-dev repo to address metadata issues and linked to it above. More soon over on that thread.

[2020-08-14 17:35] rillian opened #54 "Circumstantial in ap.10.monbeg"
First, thank you for your work maintaining the corpus here. It's been a very helpful resource!

I had a question about the tagging in [Apophthegmata Patrum Sahidic 10](http://data.copticscriptorium.org/texts/ap/apopthegmata-patrum-sahidic-10/analytic). In the line

    ⲡ̇ⲥⲱⲙⲁ ⲉⲧϣⲟⲩⲱ̇ⲟⲩ ⲛ̇ⲧⲉⲡ̇ⲙⲟⲛⲁⲭⲟⲥ ⲉϥ̇ⲥⲱⲕ ⲛ̇ⲧⲉⲯⲩⲭⲏ ⲉϩⲣⲁⲓ̇ ϩⲛ̇ⲛ̇ϣⲓ̇ⲕ ⲛ̇ⲧⲉⲡⲉⲥⲏⲧ

the ⲉϥⲥⲱⲕ ⲛ̄ⲧⲉⲯⲩⲭⲏ is analysed as circumstantial. I'd u

[2020-08-15 14:03] amir-zeldes commented on #54
Thanks for reporting this, you're right - I'll make sure it's corrected in the next release. There's actually another error in that sentence - the 'et' is segmented wrong, but I see someone has already caught that one, as it's corrected in our source files. In general we have more data than we can realistically go over to get it all perfect, so if you ever notice something wrong you are definitely

[2020-08-15 15:52] ctschroeder commented on #54
I wanted to chime in and say thank you, as well. Also, if you are interested in working on any documents-editing documents already published or new documents-please let us know.

Also you can search in ANNIS for the metadata Amir mentions. Segmentation, tagging, and parsing all have fields registering automatic, checked, or gold to indicate the level of human correction. Here for example is a sear

[2020-08-15 21:09] rillian commented on #54
Thanks for clarifying and for the further encouragement. I hadn't appreciated what the various transcription levels meant. I'll keep a closer eye on the corpus edition of things we're reading!

[2020-08-17 04:23] eplatte commented on #45
AP 20 and 21 are ready for review.

[2020-08-19 05:00] ctschroeder commented on #54
Great @rillian. I am going to close this issue.  Please be in touch if you have other questions or corrections.

[2020-08-19 05:00] #54 closed

[2020-08-28 22:38] ctschroeder commented on #45
The following Marcion corpora are **ready** for Monday; I told Alin we would publish on Monday. I made notes on anything I thought might be important for @amir-zeldes or @lancealanmartin to know:

- Pisentius ready except P 1 needs to be committed (crashing on commit)

- Basil (changed psbasilcaesarea in urn namespace to psbasil because the other Coptic Basil only has one text

- On Susanna: made

[2020-08-28 23:07] lancealanmartin commented on #45
Fantastic! I think these are all the Budge docs for this release.

Right now, both On Susanna and On the Canaanite Woman are in the pseudo.chrysostom corpus. Mitchell and Liz worked on On Susanna.

[2020-08-28 23:08] ctschroeder commented on #45
Ok. If the corpus metadata needs to be changed please go ahead and change it.

[2020-08-29 22:27] ctschroeder commented on #45
Dirt is ready -- see comments in the shenoute thread

[2020-08-30 15:45] amir-zeldes commented on #45
Fantastic - I've now added entities and fixed the 'hap' and other validation issues on docs assigned to me. Just waiting on:
  * Remaining docs of Those slated for release
  * AP20-21
  * decision on eusebius corpus/merger

I think that's it!

[2020-08-30 23:11] ctschroeder commented on #45
AP 20-21  are done. I'll finish Those tonight. On the Canaanite woman -- send me a text before you release it. It should be good as pseudo.chrysostom, but I'm giving Alin til Monday if replies.

[2020-08-31 06:21] ctschroeder commented on #45
Those is as good as it's going to get. Everything marked to-publish in GitDox is ready!

[2020-08-31 12:25] amir-zeldes commented on #45
Fantastic, I'll get to work migrating them over the day (I'm teaching in between). I'll do Eusebius last, but I'm assuming it's merged into Chrysostom as discussed unless I hear back from you later this afternoon.

[2020-08-31 14:09] amir-zeldes commented on #45
One question: is meta collection="unknown" correct for shenoute.those.GL269-270?

[2020-08-31 14:23] ctschroeder commented on #45
Yes. Couldn’t figure it out. Either that or delete the field.

Sent from my iPhone

[2020-08-31 16:21] amir-zeldes commented on #45
unknown is fine, thanks!

[2020-09-01 19:22] amir-zeldes commented on #45
All done!

[2020-09-01 19:22] #45 closed

[2020-09-02 23:02] rillian commented on #54
Confirmed fixed with the v4.0.0 release.

[2020-10-01 00:17] ctschroeder commented on #39
this is fixed by changing the field names

[2020-10-01 00:17] #39 closed

[2020-10-01 00:28] #23 closed

[2020-10-01 00:52] ctschroeder opened #67 "Winter 2020-2021 corpora publication thread"
- [ ] AP in Winter [2020-21 thread](https://github.com/CopticScriptorium/ap-dev/issues/89)
    - [ ] AP 37-39 (probably next time)
    - [x] AP 43-45

- [x] Apa Johannes canons see [Johannes issue 12](https://github.com/CopticScriptorium/johannes-canons-dev/issues/12)

- [x] Marcion Corpora (test versions now in ANNIS!) [see thread for status details](https://github.com/CopticScriptorium/budge-dev

[2020-10-01 00:55] ctschroeder commented on #67
@amir-zeldes can you please add Marcion corpora here? Thanks so much!!!

[2020-10-01 14:48] amir-zeldes commented on #67
I don't have a closed list yet, but I can add some ones we already have in the pipeline

[2020-10-01 21:26] ctschroeder commented on #67
Thanks so much! Can you also mark everything from the last release as "published' in Gitdox @amir-zeldes?

[2020-10-06 16:40] amir-zeldes commented on #67
Done

[2021-03-05 18:43] ctschroeder commented on #67
@tsiuda should be done with the translation spans of her doc in the Life of John and also her doc in the Mysteries of John by mid March, so in time for the release.  Will update the other files and threads today or this weekend.

[2021-03-05 19:39] tsiuda commented on #67
Life of John translation spans completed today (5 March 2021); Mysteries is now in process.

[2021-03-15 21:01] ctschroeder commented on #67
Life of John the monk metadata: author, PATHS link, Greek edition need investigating

[2021-03-15 21:10] ctschroeder commented on #67
Pseudo ephrem corpus should be pseudo.ephrem. Document titles can remain psephrem.asketikon.01 etc.  (Back when we published the letter of Pseudo Ephrem we decided to make a pseudo.ephrem corpus in which we would put all the pseudo ephrem material.)

[2021-03-15 21:18] amir-zeldes commented on #67
Wait, are you saying the asketikon documents should be merged into the earlier pseudo ephrem corpus? Or should they stay two separate corpora?

[2021-03-15 21:20] ctschroeder commented on #67
Put them in the existing pseudo.ephrem corpus. We had a huge discussion about this back when we published the first pseudo.ephrem letter and decided to have a pseudo.ephrem corpus rather than a bunch of smaller ps-ephrem corpora with one or two documents each.

[2021-03-16 12:57] amir-zeldes commented on #67
OK, corpus renamed for both documents - @lancealanmartin asketikon can now be edited normally

[2021-03-16 13:00] amir-zeldes commented on #67
I am setting the version_n to 4.1.0 with version_date of 2021-03-31

@lancealanmartin can you fill in entities quality metadata? I'm not sure which ones are automatic vs. checked (if checking is very minimal outside named entities please use automatic)

[2021-03-16 14:08] lancealanmartin commented on #67
I will fill them in soon.

[2021-03-18 12:07] lancealanmartin commented on #67
The metadata for all Marcion docs except john.mysteries.02 is complete.

@ctschroeder can you check the cts_urn field when you get a chance?

[2021-03-19 04:45] ctschroeder commented on #67
Brad’s home for a long weekend so I should get to this early next week.

[2021-03-29 15:52] ctschroeder commented on #67
I unchecked the items above I am still working on them. Thanks!

[2021-03-29 17:01] lancealanmartin commented on #67
The Kyprianos metadata is almost finished. I have one question:

Ed mentioned that each of the Kyprianos papyri has both a manuscript number (KYP M71) and a text number (KYP T53). The doc names for one of the papyri use the manuscript number and the others use the text number. Should we streamline these so that the titles all refer to either the manuscript or the text?

[2021-03-29 17:36] amir-zeldes commented on #67
Good point - I think if there's a chance that one MS can contain two texts, then it would make sense to use the text numbers, since each text would receive a different doc (cf. AP)

[2021-03-29 18:08] lancealanmartin commented on #67
Great! I changed KYP M71 to KYP T53.

[2021-03-29 18:27] ctschroeder commented on #67
We need to talk for a minute about the magical papyri metadata. See this thread https://github.com/CopticScriptorium/papyri.info-dev/issues/4

[2021-03-30 21:59] ctschroeder commented on #67
Johannes, Mysteries, and Life are all ready. The blocker on the AP is me. Christie has been done for a while. I'll get to the other Budge and the papyri and the AP next.

[2021-03-31 04:01] ctschroeder commented on #67
papyri ready

[2021-03-31 06:19] ctschroeder commented on #67
Abbaton ready
Asceticon ready except for Greek_ed

[2021-03-31 17:41] amir-zeldes commented on #67
OK, everything is all set except:

  * AP
  * Asketikon (is meta now complete?)
  * Johannes - the question about a page with 1 column

Rest incl. revised NT and papyri is up in ANNIS and GH corpora dev, will only pull to master and CTS repo once the last points are resolved.

[2021-03-31 17:50] lancealanmartin commented on #67
I added the Greek edition to Asketikon. It should be ready.

[2021-03-31 19:22] amir-zeldes commented on #67
I can add entities, no worries

[2021-03-31 20:54] amir-zeldes commented on #67
OK, all done - just waiting on the answer to the 1-column page of Johannes, then it's a wrap!

[2021-03-31 22:53] amir-zeldes commented on #67
We're done! I'm not bundling a release tag on GH yet in case we need to do any last minute hotfixes, but ANNIS, GH master and CTS repo should all be up to date now. Let me know if you notice any issues and I can add the tag in a couple of days.

[2021-05-10 04:51] lgessler opened #75 "Leading tab in CTS URN of shenoute.those.GF259-262.tt"
[This doc](https://github.com/CopticScriptorium/corpora/blob/ef141be7d6576f44304fd38f22ee4e7d0d78b5e2/shenoute-those/shenoute.those_TT/shenoute.those.GF259-262.tt) has a tab at the beginning of the document-cts-urn:

[code]

[2021-07-08 21:32] lgessler opened #76 "Wrong title metadatum for shenoute.those.GF311-314.tt"
From the filename [shenoute.those.GF311-314.tt](https://github.com/CopticScriptorium/corpora/blob/master/shenoute-those/shenoute.those_TT/shenoute.those.GF311-314.tt), I think the title metadatum ought to be `God Says Through Those Who Are His: GF 311-314`, but it is actually `God Says Through Those Who Are His: GF 307-310`.

The title `God Says Through Those Who Are His: GF 307-310` also exists i

[2021-07-09 17:11] ctschroeder commented on #76
OOPS. Thanks for the catch! Fixed in Gitdox for next release

[2021-07-09 18:06] ctschroeder opened #77 "Summer/Fall 2021 publication thread"
## This is the thread for the release for summer/fall 2021

### Proposed timeline (as of July 9)

- July 25: Freeze *list* of corpora and documents
- August 2: Documents made available for review on Gitdox
- August: review and prep for publication
- Data freeze/version date TBD (? @amir-zeldes do you have a preference?)

### Corpora (@ctschroeder will link to issues with checklists in corpus repos

[2021-07-09 18:07] ctschroeder commented on #77
Hey everyone. It's time to get ready for the next release.  Please check the timeline proposed above and also if your corpora are listed correctly. As usual I will make more detailed checklists in issues in specific repositories for each corpus soon.

[2021-07-10 01:48] #67 closed

[2021-07-10 01:51] #76 closed

[2021-07-10 01:52] ctschroeder commented on #76
should be integrated in next release of [shenoute.those](https://github.com/CopticScriptorium/shenoute-discourses5-dev/issues/50)

[2021-07-10 13:43] amir-zeldes commented on #77
I think for Marcion we have the two encomiums (Lance is doing Celestinus and I've been doing Flavianus). We also have shenoute.night in the pipeline, it's not long so should be easy. Am I forgetting something @lancealanmartin ?

[2021-07-10 13:51] lancealanmartin commented on #77
I think that is all of marcion. I should finish the segmentation for celestinus.03 and shenoute.night soon. Mitchell said that he is nearly finished adding the translation for celestinus.01.

[2021-08-14 04:45] ctschroeder commented on #77
Is this version 4.2.0?

[2021-08-15 21:20] amir-zeldes commented on #77
Yes, I think that's the next number (third digit is for minor corrections/bug fixes, and this is not a major new version I think)

[2021-08-17 03:31] ctschroeder commented on #77
@amir-zeldes AP are done. I set the new ones to "entities" status rather than "to_publish" because I know you're adding entities to everything. You can get started on this corpus for publication.

[2021-08-20 18:06] amir-zeldes commented on #77
OK, I did a pass on those three AP and added entities+identities, should be good to go (just need version date, are we aiming for 2021-08-31?)

[2021-08-23 22:48] ctschroeder commented on #77
Can we maybe say 9/3 or 9/7? Start of k-12 and OU semester kinda broke me this last week!!

[2021-08-25 01:00] amir-zeldes commented on #77
Sure, no rush. I'll set version_date automatically for everything once it's all squared away.

[2021-09-19 22:14] ctschroeder commented on #77
A22 is ready except for identities and entities

[2021-09-20 17:15] ctschroeder commented on #77
I think I've done everything I can for all except Prince and Thomas. Prince I'll finish tonight or tomorrow. I will check in with Paul on Thomas. But for everything else I believe the ball is in @amir-zeldes & @lancealanmartin 's court for final touches and publication.

[2021-09-20 21:30] amir-zeldes commented on #77
OK, I've checked entities for A22, but I'm not sure about one thing - is the Pishoy in a22.YA309-310 this Pishoy?

https://en.wikipedia.org/wiki/Pishoy

I also can't find an article for Atripe which is too bad. If either of you feel like adding it to Wikipedia that would be great! For now it's just "pass", but we can always change it in an upcoming release if/when it gets added as an entry.

[2021-09-21 03:41] ctschroeder commented on #77
Oh no it’s the Red Monastery Pshoi https://en.wikipedia.org/wiki/Red_Monastery <https://en.wikipedia.org/wiki/Red_Monastery> but it appears there’s no entry.

Atripe does have an entry, as Athribis https://en.wikipedia.org/wiki/Athribis_(Upper_Egypt) <https://en.wikipedia.org/wiki/Athribis_(Upper_Egypt)>. Entry exists but is stunningly short.

[2021-09-21 15:40] ctschroeder commented on #77
Sorry yes everything in A22 is ready, I changed the designations in Gitdox.

I created a draft article for Pshoi but it is waiting for approval. https://en.wikipedia.org/wiki/Draft:Pshoi

[2021-09-21 16:47] amir-zeldes commented on #77
That's amazing, thanks!! So glad we are also contributing to Wikipedia :) Is it a problem that the title is very similar to the article on Pishoy? Should it be called "Pshoi (monastic leader)" or something?

[2021-09-22 03:18] ctschroeder commented on #77
Yeah that’s a good idea. I can’t move it though. Either because it’s a draft or because my account isn’t auto confirmed? If you can move it to a page with that title, that would be great.

[2021-09-22 21:39] amir-zeldes commented on #77
No, I think it's locked to you right now, but let's see what the mods say.

For Prince it looks like it's a bit different from our segmentation practices here and there, how close to ready is it?

[2021-09-22 21:58] ctschroeder commented on #77
I’m reviewing Prince now. I’m on the second doc. First one should be in pretty good shape. Am trying to get it done tonight. Will ping you as soon as I’m done

[2021-09-23 21:00] amir-zeldes commented on #77
OK, here is a quick status report of where we are AFAIK:

### Old corpora

The following are slated for re-release due to corrections and/or new documents (1+ documents in `review` or `to_publish` state with edits since last release):

  * AP
  * Besa
  * johannes
  * onnophrius
  * pisentius
  * victor
  * athanasius
  * timothy
  * chrysostom
  * ruth
  * mark
  * a22
  * those

I have just gone

[2021-09-23 21:11] ctschroeder commented on #77
Prince is not done but working on it more tonight.  Your assessment of everything else looks right to me

[2021-09-23 21:12] ctschroeder commented on #77
Re collection metadata: I thought I sent an email that it might be Egypte but I’m not 100%. Not at my laptop but if we’ve left that field blank before we can leave it blank now instead of “unknown”.

[2021-11-08 16:23] ctschroeder commented on #77
@amir-zeldes before we close this thread and open a new one for spring, can we change the GitDox "status" of everything that's been published? Thank you so much!!!

[2021-11-08 18:28] amir-zeldes commented on #77
Done!

[2021-11-30 17:12] #77 closed

[2022-01-12 18:07] ctschroeder opened #86 "Winter/Spring 2022 Publication Thread"
### Proposed timeline TBD

- Freeze list of corpora and documents
- Documents made available for review on Gitdox March 8
- review and prep for publication
- Data freeze/version date TBD

### Corpora
- [x] Abraham Our Father ([see repo issue for details](https://github.com/CopticScriptorium/shenoute-abraham-dev/issues/23); do not check off until issue is complete)
- [x] AP ([see repo issue for det

[2022-01-12 18:09] ctschroeder commented on #86
@amir-zeldes @lancealanmartin can you add your corpora to the list? And make publication threads in the relevant repos? Thanks so much!!!

[2022-01-12 21:34] amir-zeldes commented on #86
@lancealanmartin Eustathius and Theophiste should definitely be included, can you start the thread for that in Budge-dev?

[2022-01-13 01:40] tsiuda commented on #86
I finished keying in Pisenthius today btw! Let me know what else I need to do besides committing it. Thanks!

[2022-01-13 16:25] amir-zeldes commented on #86
Wonderful, thank you! I will take a look at moving Pisentius to the next step. In the meantime if one half of Eustathius & Theopiste still needs translations, that would be a good next thing to concentrate on.

[2022-04-08 21:17] ctschroeder opened #87 "Fall 2021 release needs packaging"
It looks like we never issued an official github release for 4.2. @amir-zeldes would you like me to do that or would you? I assume we'd use the info from the blog for the release notes.
https://blog.copticscriptorium.org/2021/09/30/new-corpora-release-4-2-0/

[2022-04-13 17:09] #87 closed

[2022-04-18 03:29] ctschroeder commented on #86
I've been trying to go through these. There are a few remaining issues. I know everyone is working so this not a nag, more just a check in. Please see individual publication threads in the corpora for remaining tasks.  Thanks!!

[2022-04-18 19:04] amir-zeldes commented on #86
@ctschroeder I see the prince document is assigned to you - is it just missing the date? Let me know and I can add that.

[2022-04-19 15:53] ctschroeder commented on #86
@amir-zeldes sorry about that. Yeah, prince just needs the version and date in the doc and the corpus and then it can be published

[2022-04-19 18:28] amir-zeldes commented on #86
OK done!

[2022-04-21 02:58] ctschroeder commented on #86
@amir-zeldes AP is also ready

[2022-04-23 18:31] ctschroeder commented on #86
I do not see a test version of Abraham.  Can you load that for me @amir-zeldes ? Thanks!

AP & Prince are fine.

also: Pisentius and E/Th need to be reloaded due to small metadata updates (commas removed from titles) and then they are fine.

See Pistis Sophia thread on that corpus

[2022-04-28 02:42] ctschroeder commented on #86
I think Abraham is fine! The Arabic is the only thing added and it seems fine. Metadata is fine

[2022-05-03 15:50] amir-zeldes commented on #86
We're good to go, just need to make that GH release archive before closing this issue!

[2022-05-12 14:03] amir-zeldes commented on #86
Done!

[2022-05-12 14:03] #86 closed

[2022-05-12 15:38] ctschroeder opened #90 "Summer 2022 release thread"
### Timeline
Primary editors work freezes 9/10-9/13.
Publication ~9/20

### Tentative Corpora
Shenoute Abraham (Arabic translations by Philippe Zaher)

Amélineau (@lancealanmartin)
- [x] [shenoute.place.BV277-278](https://github.com/CopticScriptorium/shenoute-canons9-dev/issues/2)
- [x] [shenoute.thundered.GG19-28](https://github.com/CopticScriptorium/shenoute-discourses4-dev/issues/10)
- [x] [she

[2022-08-23 22:12] ctschroeder commented on #90
@bkrawiec @cluckmarq @PhilippeZaher any work you're doing right now can be published in the next round if you get it done around the 10th of September. (Earlier is great.) If the summer server outages mean that you didn't get anything done just let me know.

[2022-08-23 22:13] ctschroeder commented on #90
@lancealanmartin can you list the repos the Amélineau material are in and the corresponding works we will be publishing this round?

[2022-08-25 16:33] lancealanmartin commented on #90
I created issues with rudimentary checklists in the repos and linked the docs to them.

[2022-09-19 23:52] ctschroeder commented on #90
Are we publishing those Marcion docs this go around? @amir-zeldes If so, what repo are they in? should I be researching the metadata? Thanks!

[2022-09-20 14:43] amir-zeldes commented on #90
I don't think we'll manage those marcions, they aren't really processed yet and PS is taking insane amounts of time due to checking identities and the absolute flood of names (with mangled tokenization) in this work.

But I thought we *were* planning to include shenoute.considering, does something speak against it?

[2022-09-20 19:28] ctschroeder commented on #90
@amir-zeldes https://github.com/CopticScriptorium/shenoute-discourses5-dev/issues/51#issuecomment-1252810929

[2022-09-26 23:04] ctschroeder commented on #90
Adding items here that I notice

shenoute.a22
- [ ] in shenoute.a22 YA 303-304 diplomatic is wonky (legacy we didn't catch?); I fixed the pb_xml_id column in gitdox (it was named wrong and there were spaces between the YA and 303 or 304)
- [ ] I cannot figure out what is going on with the diplomatic viz for YA 309-10 in shenoute.a22.  309 column 2 lines 13-16 the letters are all supposed to be sma

[2022-09-27 13:27] amir-zeldes commented on #90
OK, YA 309 was an issue where the CSS does not play nicely if hi_rend=small spans multiple lines. As an easy fix, I just gave each line its own hi_rend=small.

Thundered has lb_n annotations, so it assumed it should get dipl, but it's no problem turning it off. Should those be edition lines instead?

[2022-09-27 15:48] ctschroeder commented on #90
Thanks. Ok let me check Thundered. I don't remember off the top of my head. I thought I fixed all those but perhaps not. Amélineau definitely does NOT mark manuscript line breaks.

I have a few other documents to check tonight, as well, so please hold off on further steps.

[2022-09-27 16:49] bkrawiec commented on #90
Here are some errors/problems I have noted in A22 YA 311-16

DIPLOMATIC

  1.  The title says "YA 311-12" but should say "YA 311-16"
  2.  All the ekthetics are slightly to the left of margin but were not made large (I checked the XML and it says ekthetic large)
  3.  YA 312 col a line 11 needs to be indented.
  4.  YA 314 col a line 2 should end at the second ϥ; what follows on that line is line

[2022-09-27 23:13] ctschroeder commented on #90
@bkrawiec thanks so much for this detailed review of your document! I have a few questions and requests:

- [ ] YA 312 col 1 line 11 is missing in Gitdox. (There are no spans -- there are three cells in the lb_n column that aren't merged). Can you check rows 249-251 in Gitdox against the manuscript and set the line breaks? I think that may fix your number 3.. Thanks!
- [ ] re your numbers 4 & 5 I

[2022-09-27 23:15] ctschroeder commented on #90
@amir-zeldes

- [ ] I don't know how to fix Becky's second problem above with the ekthetics not visualizing as large. The hi_rend layer in GitDox consistently has "ekthetic large" in the correct field

[2022-09-27 23:31] ctschroeder commented on #90
Also @amir-zeldes Thundered is fixed in Gitdox. I'm still looking at Pistis Sophia

[2022-09-28 00:06] bkrawiec commented on #90
I made all these fixes as noted.

For the extra bracket, it was not in orig_group but was on the tok level, so I removed it and hope that does it. The extra is/was between the ϥ and ⲏ.

Whatever I was seeing in the normalized view is no longer there.

________________________________
From: Caroline T. Schroeder ***@***.***>
Sent: Tuesday, September 27, 2022 7:13:50 PM
To: CopticScriptorium/corpora

[2022-09-28 04:38] ctschroeder commented on #90
@lancealanmartin I am sorry to bother you -- are the line breaks in Pistis Sophia from Marcion or from the manuscript? Thanks so much.

[2022-09-28 14:15] amir-zeldes commented on #90
I'm 99% sure the line breaks in Pistis are from the edition - Marcion doesn't have MS breaks, so I don't see where we would have gotten them from.

[2022-09-28 14:17] amir-zeldes commented on #90
Large rendering is now fixed, you can take a look in ANNIS and I'll aim to have them in CTS later today too.

[2022-09-28 14:30] lancealanmartin commented on #90
No problem whatsoever! The line breaks (lb_n, right?) match Marcion. I am not sure if the Marcion line breaks follow the manuscript or not.

[2022-09-28 19:39] ctschroeder commented on #90
large rendering looks good. It appears that the line breaks are from the Petermann edtion, so I am now changing all the layer names from lb_n to ed_line_n. I should be done this afternoon.

[2022-09-28 20:52] ctschroeder commented on #90
ok pistis sophia I think is ready

[2022-09-29 14:04] amir-zeldes commented on #90
OK, everything is up to date in ANNIS and in CTS! If it all looks presentable I think we can announce end of day (I'll hold off on the GH release zip for a few more days, and still need to update CDO examples and tools)

[2022-10-11 08:22] ctschroeder commented on #90
Thanks so much.

I’ll look into this more this afternoon and change the lb_n layer names as appropriate in all docs. It’s going to be a couple hours until I get to it and to check the large rendering.

[2022-10-13 14:48] amir-zeldes commented on #90
I think this was fine in the release, no? If so I can make the release zip in GH.

[2022-10-13 15:03] ctschroeder commented on #90
I gotta be honest — I have no idea if I did this or not. (I’m usually pretty good at following up though.) Either way the release is the release, and if it’s not fixed it will wait for the next one. Thanks for finishing this up, Amir!

[2022-10-14 15:11] amir-zeldes commented on #90
Done! Closing...

[2022-10-14 15:11] #90 closed

[2022-10-18 17:39] ctschroeder commented on #28
Closing -- if we want to add places identifiers we should make a new issue. Not clear that's a priority.

[2022-10-18 17:39] #28 closed

[2022-10-18 17:39] #26 closed

[2022-10-18 17:41] #16 closed

[2022-10-18 17:42] ctschroeder opened #94 "Update readme's for data formats"
Update readme's in this repo (including directory/subdirectory readme's) to accurately reflect current data formats.